<div id="ph-detail-blog-wrapper" class="relative main_banner_section_pd">
  <section id="ph-detail-blog-section-1" class="ph-section">
    <div class="about-banner-swiper-outer relative">
      <div class="banner_img relative">

        <img src="assets/images/blog/Blog.png" alt=""  *ngIf="!blogObj.banner_image_full">
        <img src="{{blogObj.banner_image_full}}" alt="" *ngIf="blogObj.banner_image_full">

        <img src="{{blogObj.blog_image}}&h=400" alt="" >
        <div class="black_overlay"></div>

      </div>
    </div>
  </section>

  <section id="ph-detail-blog-section-3" class="ph-section ">
    <div class="about-container relative sec2_padding">
      <div class="section-content">
        <div class="section-subtitle-blog">
          <h3>
            {{blogObj.title}}
          </h3>
        </div>
        <p innerHTML="{{blogObj.description}}">
        </p>
      </div>
    </div>
  </section>
  <div class="section-bottom-border"></div>
</div>
