<!-- <div>
  <h1 class="heading">Channel Partner</h1>
  <div class="channel-container">
    <div class="channel-wrapper">
      <form name="form" (ngSubmit)="submitContactForm()" #createContactForm="ngForm">
        <div class="channel_flex">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="contactObj.name" #name="ngModel"
              required />
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="contactObj.email"
              #email="ngModel" required />
          </div>

          <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="number" class="form-control" id="phone" name="phone" [(ngModel)]="contactObj.phone"
              #phone="ngModel" required />
          </div>

          <div class="form-group">
            <label for="company_name">Company Name:</label>
            <input type="text" class="form-control" id="company_name" name="company_name"
              [(ngModel)]="contactObj.company_name" #company_name="ngModel" />
          </div>

          <div class="form-group">
            <label for="message">Comments:</label>
            <textarea type="text" class="form-control" id="message" name="message"
              [(ngModel)]="contactObj.message" #message="ngModel"></textarea>
          </div>
        
        </div>
        <div class="channel_submit_btn">
          <button type="submit" class="btn btn-secondary ">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div> -->


  <!-- Channel Partner Wrapper Start -->

  <div class="ph-channel-partner-wrapper relative" id="ph-channel-partner-wrapper">
      <section class="ph-channel-partner-banner-section  relative" id="ph-channel-partner-banner-section">
          <div class="ph-channel-partner-banner-img">
              <img src="assets/images/channel-partner/banner.jpg" alt="">
              <div class="black_overlay"></div>
          </div>
          <div class="ph-cp-banner-text inner-flex inner-flex-small inner-flex-center">
              <div class="section-subtitle ">
                  <h3 class="text-uppercase white-color regular-fonts">Ready to Join</h3>
              </div>
              <div class="banner-title">
                  <h2 class="text-uppercase text-center white-color">Revolotionary <br class="hidden-xs hidden-sm">
                      plaTform for Furniture
                      & Home Products</h2>
              </div>
              <div class="cp-btn">
                  <a href="javascript:void(0)">
                      <button class="link-btn" id="channel-partner-btn">
                          <div class="small-content">
                              <p class="white-color regular-fonts">Become A channel Partner</p>
                          </div>
                          <!-- <div class="cp-link-arrow">
                              <span class="material-symbols-outlined white-color">
                                  trending_flat
                              </span>
                          </div> -->
                      </button>
                  </a>
              </div>
          </div>
      </section>
      <section class="ph-channel-partner-edge-section relative section-padding"
          id="ph-channel-partner-edge-section">
          <div class="cp-container">
              <div class="section-subtitle">
                  <h3 class="text-center light-fonts">With a Vision to solve Pain points of Furniture Showrooms,
                      Traders & our other potential
                      client, we have launched Copper Leaf. Join us as we strive to make indian homes beautiful.
                  </h3>
              </div>
              <div class="ph-edge-wrapper inner-flex inner-flex-medium section-padding-small-top">
                  <div class="section-title">
                      <h2 class="text-center text-uppercase"><span>Parth Furniture </span>EDGE</h2>
                  </div>
                  <div class="hidden-xs hidden-sm">
                      <div class="ph-edge-wrapper-grid">

                          <div class="ph-edge-grid-item " style="align-items: center;">
                              <div>
                                  <div class="ph-logo">
                                      <img src="assets/images/logo/parth-logo-opacity-5.svg" alt="">
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex" style="border: none;">
                                  <div class="section-content">
                                      <p class="bold-fonts">Parth <br>
                                          Furniture</p>
                                  </div>
                                  <div class="section-content">
                                      <p class="bold-fonts">Traditional <br>
                                          Manufacturer</p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/concenience.svg" alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          concenience
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>One-stop-shop for all range of products.</p>
                                  </div>
                                  <div class="link-font">
                                      <p>Need to reach out to various vendors for different products</p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/Quality.svg" alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          Quality
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Standard material <br>
                                          Extensive quality checks</p>
                                  </div>
                                  <div class="link-font">
                                      <p>Compromised quality to cut costs <br>
                                          Absolutely zero quality checks</p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/warranty.svg" alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          warranty
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Industry best & transparent warranty policies</p>
                                  </div>
                                  <div class="link-font">
                                      <p>No warranty</p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/after-sales-supprt.svg"
                                          alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          after sales supprt
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Dedicated Team <br>
                                          100% Our responsibility
                                      </p>
                                  </div>
                                  <div class="link-font">
                                      <p>No after sales support</p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/delivery-assistance.svg"
                                          alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          delivery assistance
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Delivery & installation will be done by us.
                                      </p>
                                  </div>
                                  <div class="link-font">
                                      <p>Delivery Hassles.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/Product-Conductivity.svg"
                                          alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          Product Conductivity
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Guaranteed product continuity.
                                      </p>
                                  </div>
                                  <div class="link-font">
                                      <p>Challenged product continuity.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/brand.svg" alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          brand
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Brand awareness, as it makes selling at ease
                                      </p>
                                  </div>
                                  <div class="link-font">
                                      <p>No Brand
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/Pricing.svg" alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          Pricing
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Standard & competitive pricing <br>
                                          No hidden costs
                                      </p>
                                  </div>
                                  <div class="link-font">
                                      <p>Fluctuating seasonal pricing.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/Design.svg" alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          Design
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Planning, prototyping, evaluating & designing
                                          by expert & qualified designers
                                      </p>
                                  </div>
                                  <div class="link-font">
                                      <p>Generally from a picture/image.
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="ph-edge-grid-item ">
                              <div class="ph-cp-icon" style="border-radius: 0 0  1.75rem 1.75rem;">
                                  <div class="ph-cp-icon-img">
                                      <img src="assets/images/icons/channel-partner-icons/Delivery.svg" alt="">
                                  </div>
                                  <div class="ph-cp-icon-text link-font ">
                                      <p class="text-uppercase">
                                          Delivery
                                      </p>
                                  </div>
                              </div>
                              <div class="ph-edge-grid-content-flex">
                                  <div class="link-font">
                                      <p>Standard time-frame committed at the time
                                          of placing the order
                                      </p>
                                  </div>
                                  <div class="link-font">
                                      <p>Unrealistic, due to lack of commitment/experience
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="visible-sm visible-xs">
                      <div class="parth-edge-swiper swiper relative">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/concenience.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  concenience
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>One-stop-shop for all range of products.</p>
                                              </div>
                                          </div>
                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Need to reach out to various vendors for different products
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/Quality.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  Quality
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Standard material <br>
                                                      Extensive quality checks</p>

                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Compromised quality to cut costs <br>
                                                      Absolutely zero quality checks</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/warranty.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  warranty
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Industry best & transparent warranty policies</p>
                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>No warranty</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/after-sales-supprt.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  after sales supprt
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Dedicated Team <br>
                                                      100% Our responsibility
                                                  </p>
                                              </div>
                                          </div>
                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>No after sales support</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/delivery-assistance.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  delivery assistance
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Delivery & installation will be done by us.
                                                  </p>
                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Delivery Hassles.</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/Product-Conductivity.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  Product Conductivity
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Guaranteed product continuity.
                                                  </p>
                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Challenged product continuity.
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/brand.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  brand
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Brand awareness, as it makes selling at ease
                                                  </p>
                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>No Brand
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/Pricing.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  Pricing
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Standard & competitive pricing <br>
                                                      No hidden costs
                                                  </p>
                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Fluctuating seasonal pricing.
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/Design.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  Design
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Planning, prototyping, evaluating & designing
                                                      by expert & qualified designers
                                                  </p>
                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Generally from a picture/image.
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="swiper-slide">
                                  <div class="ph-edge-grid-item ">
                                      <div class="ph-cp-icon">
                                          <div class="ph-cp-icon-img">
                                              <img src="assets/images/icons/channel-partner-icons/Delivery.svg"
                                                  alt="">
                                          </div>
                                          <div class="ph-cp-icon-text link-font ">
                                              <p class="text-uppercase bold-fonts">
                                                  Delivery
                                              </p>
                                          </div>
                                      </div>
                                      <div class="ph-edge-grid-content-flex">
                                          <div class="inner-flex">
                                              <div class="link-font">
                                                  <p class="edge-heading">Parth Furniture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Standard time-frame committed at the time
                                                      of placing the order
                                                  </p>
                                              </div>
                                          </div>

                                          <div class="inner-flex">
                                              <div class="link-font ">
                                                  <p class="edge-heading">Traditional Manufacture</p>
                                              </div>
                                              <div class="link-font">
                                                  <p>Unrealistic, due to lack of commitment / experience
                                                  </p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="swiper-pagination parth-edege-swiper-pagination"></div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <div class="main-container ">
          <div class="horizantal-line"></div>
      </div>
      <section class="ph-channel-partner-dealer-section relative section-padding-top"
          id="ph-channel-partner-dealer-section">
          <div class="cp-container">
              <div class="section-title">
                  <h2 class="text-center text-uppercase"><span>Become A </span> <br>
                      Parth Furniture <span> Dealer </span></h2>
              </div>
              <div class="ph-dealer-wrapper-flex ">
                  <div class="ph-dealer-wrapper-flex-item-one relative hidden-xs hidden-sm">
                      <div class="table-cup-img">
                          <img src="assets/images/channel-partner/table-cup.png" alt="">
                      </div>
                      <div class="lamp-vector-img">
                          <img src="assets/images/channel-partner/lamp.png" alt="">
                      </div>
                  </div>
                  <div class="ph-dealer-wrapper-flex-item-two">
                      <div class="dealer-form-wrapper inner-flex inner-flex-medium ">
                          <div class="section-content">
                              <p class="bold-fonts">Register Your Interest</p>
                          </div>
                          <form class="dealer-form-grid" id="dealer-form" name="dealer-form">
                              <div class="dealer-form-input">
                                  <input type="text" name="name" id="name" placeholder="Name*" required>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="text" name="designation" id="designation"
                                      placeholder="Designation*" required>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="text" name="company_name" id="company_name"
                                      placeholder="company Name*" required>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="tel" name="contact_no" id="contact_no" minlength="10"
                                      maxlength="10" placeholder="Contact No*" required>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="email" name="email" id="email" placeholder="Email ID*" required>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="text" name="city" id="city" placeholder="City*" required>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="text" name="area" id="area" placeholder="Area*" required>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="text" name="address" id="address" placeholder="Address*" required>
                              </div>
                              <div class="dealer-form-input relative">
                                  <input type="number" name="showroom_space" id="showroom_space"
                                      placeholder="Showroom Space">
                                  <div class="cp-form-input-spec-text">
                                      <p>In Sq. Ft.</p>
                                  </div>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="text" name="dealing_products" id="dealing_products"
                                      placeholder="Currently Dealing Products">
                              </div>
                              <div class="dealer-form-input relative">
                                  <input type="text" name="established_year" id="established_year"
                                      placeholder="Established Year">
                                  <div class="cp-form-input-spec-text">
                                      <p>Since when you are in Furniture Products Industry</p>
                                  </div>
                              </div>
                              <div class="dealer-form-input">
                                  <input type="number" name="turnover" id="turnover"
                                      placeholder="Approx. Turnover">
                              </div>
                              <div class="dealer-form-input">
                                  <button type="submit" class="dealer-form-btn link-font">
                                      <p class="bold-fonts">Register Now!</p>
                                  </button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <div class="cp-outer-table-cup-img">
              <img src="assets/images/channel-partner/table-cup-light.png" alt="">
          </div>
      </section>
  </div>

  <!-- Channel Partner Wrapper End -->

