/* .heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.channel-container {
    width: 80%;
    margin: 0 auto;
}

.channel-wrapper .channel_flex{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

.channel-wrapper .channel_flex>div{
    flex-basis: calc(50% - 1rem);
}

.channel-wrapper .channel_flex>div label{
    font-size: 1.25rem;
    margin-bottom: 0.3rem;
}
.channel-wrapper .channel_flex>div input{
    font-size: 1.25rem;
}

.channel_submit_btn{
    width: max-content;
    margin: 3rem auto 0 auto;
} */
:root {
    /* colors */
    --primary-color: #000000;
    --secondary-color: #F7AC29;
    --highlight-color: #E0E0E0;
    --placeholder-color: #F3F3F3;
    --white-color: #FFFFFF;

    /* font-sizes */
    --banner-font-size: 5rem;
    --section-title-font-size: 6rem;
    --title-font-size: 3.5rem;
    --specification-font-size: 2.5rem;
    --subtitle-font-size: 2rem;
    --content-font-size: 1.5rem;
    --link-font-size: 1rem;
    --smallcontent-font-size: 1.25rem;

    /* font-families */
    --light-font-family: 'Poppins-Light';
    --regular-font-family: 'Poppins-Regular';
    --semibold-font-family: 'Poppins-SemiBold';
    --bold-font-family: 'Poppins-Bold';
    --medium-font-family: 'Poppins-Medium';

    /* other variables */
    --common-transition: all 0.6s ease;
    --web-border-radius: 0.625rem;
    --mobile-border-radius: 0.6rem;
    --common-gap-size: 1rem;
    --small-gap-size: 1.5rem;
    --medium-gap-size: 3rem;
    --big-gap-size: 6rem;
}


.ph-channel-partner-wrapper .visible-sm,
.ph-channel-partner-wrapper .visible-xs {
    display :none !important;
}
.ph-channel-partner-wrapper .hidden-sm,
.ph-channel-partner-wrapper .hidden-xs {
    display :block !important ;
}

.ph-channel-partner-wrapper .banner-title h2,
.ph-channel-partner-wrapper .banner-title h2 span {
    font-size: 5rem;
    font-family: var(--bold-font-family);
}

.ph-channel-partner-wrapper .cp-container {
    width: 62%;
    margin: 0 auto;
}

.ph-channel-partner-wrapper .section-padding-small-top {
    padding-top: 6rem;
}

.ph-channel-partner-wrapper .section-padding-top {
    padding-top: 10rem;
}

.ph-channel-partner-wrapper .ph-cp-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.ph-channel-partner-wrapper button.link-btn {
    width: fit-content;
    outline: none;
    border: 2px solid var(--secondary-color);
    border-radius: 5rem;
    display: flex;
    background-color: var(--secondary-color);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.ph-channel-partner-wrapper .cp-btn button.link-btn {
    background-color: #F8AB1820;
}

.ph-channel-partner-wrapper .ph-edge-wrapper{
    gap:   6rem  !important;
}

.ph-channel-partner-wrapper .ph-edge-wrapper .ph-cp-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 1rem  2rem;
    min-height: 72px;
}

.ph-channel-partner-wrapper .ph-edge-wrapper .ph-cp-icon .ph-cp-icon-img {
    width: 15%;
    flex-basis: 15%;
}

.ph-channel-partner-wrapper .ph-edge-wrapper .ph-cp-icon .ph-cp-icon-text {
    width: 80%;
    flex-basis: 80%;
}

.ph-channel-partner-wrapper .ph-edge-grid-item {
    display: flex;
    flex-direction: row;
    gap: var(--small-gap-size);
    align-items: start;

}

.ph-channel-partner-wrapper .ph-edge-grid-item>div:nth-child(1) {
    width: calc(100% - 75% - 0.75rem);
    flex-basis: calc(100% - 75% - 0.75rem);
    background-color: #FEF1D8;
}

.ph-channel-partner-wrapper .ph-edge-grid-item>div:nth-child(2) {
    width: calc(100% - 25% - 0.75rem);
    flex-basis: calc(100% - 25% - 0.75rem);
}


.ph-channel-partner-wrapper .ph-edge-grid-content-flex {
    display: flex;
    flex-direction: row;
    gap: var(--small-gap-size);
    align-items: center;
    border-bottom: 1px solid #EBEBED;
    min-height: 72px;

}

.ph-channel-partner-wrapper .ph-edge-wrapper-grid>div:nth-child(1)>div:nth-child(1) {
    padding: 2rem;
    border-radius: 1.75rem 1.75rem 0 0;
}

.ph-channel-partner-wrapper .ph-edge-wrapper-grid .ph-logo {
    width: 6.5rem;
    margin: 0 auto;
}

.ph-channel-partner-wrapper .ph-edge-grid-content-flex>div:nth-child(1) {
    width: calc(100% - 55% - 0.75rem);
    flex-basis: calc(100% - 55% - 0.75rem);
}

.ph-channel-partner-wrapper .ph-edge-grid-content-flex>div:nth-child(2) {
    width: calc(100% - 45% - 0.75rem);
    flex-basis: calc(100% - 45% - 0.75rem);
}

.ph-channel-partner-wrapper .ph-edge-grid-content-flex .link-font p {
    font-family: var(--regular-font-family);
    padding: 1rem;
}

.ph-channel-partner-wrapper .ph-edge-wrapper-grid {
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
    border-radius: 1.75rem;
}

.ph-channel-partner-wrapper .horizantal-line {
    width: 100%;
    height: 1px;
    background-color: #00000030;

}

.ph-channel-partner-wrapper .ph-dealer-wrapper-flex {
    display: flex;
    flex-direction: row;
    gap: var(--medium-gap-size);
    align-items: end;
    background-color: var(--white-color);
    border-radius: 1.75rem;
    margin-top: 6rem;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);

}


.ph-channel-partner-wrapper .ph-dealer-wrapper-flex>div:nth-child(1) {
    width: calc(100% - 75% - 0.75rem);
    flex-basis: calc(100% - 75% - 0.75rem);
    height: 100%;
    background-color: #FEF1D8;
    padding: 2rem 2rem 0 2rem;
    border-radius: 1.75rem;
}

.ph-channel-partner-wrapper .ph-dealer-wrapper-flex>div:nth-child(2) {
    width: calc(100% - 25% - 0.75rem);
    flex-basis: calc(100% - 25% - 0.75rem);
}

.ph-channel-partner-wrapper .lamp-vector-img {
    opacity: 15%;
    width: 75%;
    margin-left: auto;
}

.ph-channel-partner-wrapper .table-cup-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);

    /* opacity: 5%; */
}

.ph-channel-partner-wrapper .dealer-form-grid {
    display: grid;
    padding: 0 1rem 1rem 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "one two" "three four" "five six" "seven eight" "nine ten" "eleven twelve" " . thirteen";
    gap: 1.75rem;
}

.ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input input:focus-visible,
.ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input input:focus {
    border: 1px solid var(--secondary-color);
}

.ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input input {
    width: 100%;
    padding: 1.25rem;
    background-color: transparent;
    border: 1px solid #A9A9A9;
    border-radius: 8px;
    outline: none;
    font-family: var(--semibold-font-family);
    font-size: 1rem;
}

.ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input input::placeholder {
    color: #A9A9A9;
    font-family: var(--regular-font-family);
    font-size: 1rem;
}

.ph-channel-partner-wrapper .dealer-form-input button.dealer-form-btn {
    width: 100%;
    padding: 1.25rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    outline: none;
    border-radius: 8px;
}

.ph-channel-partner-wrapper .dealer-form-input .cp-form-input-spec-text {
    position: absolute;
    right: 0;
    bottom: -1rem;
}

.ph-channel-partner-wrapper .dealer-form-input .cp-form-input-spec-text p {
    color: #A9A9A9;
    font-family: var(--regular-font-family);
    font-size: 10px;
}


.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(1) {
    grid-area: one;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(2) {
    grid-area: two;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(3) {
    grid-area: three;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(4) {
    grid-area: four;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(5) {
    grid-area: five;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(6) {
    grid-area: six;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(7) {
    grid-area: seven;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(8) {
    grid-area: eight;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(9) {
    grid-area: nine;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(10) {
    grid-area: ten;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(11) {
    grid-area: eleven;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(12) {
    grid-area: twelve;
}

.ph-channel-partner-wrapper .dealer-form-grid>div:nth-child(13) {
    grid-area: thirteen;
}

.ph-channel-partner-wrapper .cp-outer-table-cup-img {
    position: absolute;
    bottom: 0rem;
    right: 2.5rem;
    width: 12.5%;
}

/* Responsive */

@media only screen and (max-width:1680px) {}

@media only screen and (max-width:1450px) {
    html {
        font-size: 12px;
    }

    .ph-channel-partner-wrapper .link-font p {
        font-size: 1.25rem;
    }

    .ph-channel-partner-wrapper .cp-container {
        width: 77%;
        margin: 0 auto;
    }

    .ph-channel-partner-wrapper .cp-outer-table-cup-img {
        right: 0.5rem;
        width: 10%;
    }

    .ph-channel-partner-wrapper .lamp-vector-img {
        width: 60%;
    }
}

@media only screen and (max-width:1366px) {}

@media only screen and (max-width:1280px) {
    html {
        font-size: 10px;
    }

    .ph-channel-partner-wrapper .link-font p {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width:1152px) {}

@media only screen and (max-width:1024px) {
    html {
        font-size: 9px;
    }

    .ph-channel-partner-wrapper .section-title h2,
    .ph-channel-partner-wrapper .section-title h2 span {
        font-size: 3rem;
    }

    .ph-channel-partner-wrapper .cp-container {
        width: 90%;
        margin: 0 auto;
    }

    .ph-channel-partner-wrapper .cp-outer-table-cup-img {
        right: 0;
        width: 0%;
    }
}

@media only screen and (max-width:991px) {
    html {
        font-size: 10px;
    }

    .ph-channel-partner-wrapper .visible-sm {
        display :block !important;
    }
    .ph-channel-partner-wrapper .hidden-sm {
        display :none !important ;
    }

    .ph-channel-partner-wrapper .ph-channel-partner-banner-img,
    .ph-channel-partner-wrapper .ph-channel-partner-banner-img img {
        aspect-ratio: 1.5;
    }

    .ph-channel-partner-wrapper .ph-cp-banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 75%;
        text-align: center;
    }

    .ph-channel-partner-wrapper .ph-dealer-wrapper-flex>div:nth-child(1) {
        width: 0;
        flex-basis: 0;
        height: 0%;
        background-color: unset;
        padding: 0;
        border-radius: 0;
    }

    .ph-channel-partner-wrapper .ph-dealer-wrapper-flex>div:nth-child(2) {
        width: 100%;
        flex-basis: 100%;
    }


    .ph-channel-partner-wrapper .dealer-form-input .cp-form-input-spec-text {
        bottom: -1.25rem;
    }

    .ph-channel-partner-wrapper .ph-edge-grid-item {
        display: flex;
        min-height: 280px;
        width: 98%;
        margin: 0 auto;
        flex-direction: column;
        border-radius: 1.75rem;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.40);
    }

    .ph-channel-partner-wrapper .ph-edge-wrapper .ph-cp-icon {
        border-radius: 1.75rem 1.75rem 0 0;
        padding: 1rem;
    }

    .ph-channel-partner-wrapper .ph-edge-grid-item>div:nth-child(1),
    .ph-channel-partner-wrapper .ph-edge-grid-item>div:nth-child(2) {
        width: 100%;
        flex-basis: 100%;
    }

    .ph-channel-partner-wrapper .ph-edge-wrapper .ph-cp-icon .ph-cp-icon-img {
        width: 10%;
        flex-basis: 10%;
    }



    .ph-channel-partner-wrapper .ph-edge-grid-content-flex {
        display: flex;
        flex-direction: column;
        border-bottom: none;

    }

    .ph-channel-partner-wrapper .ph-edge-grid-content-flex>div:nth-child(1),
    .ph-channel-partner-wrapper .ph-edge-grid-content-flex>div:nth-child(2) {
        width: 100%;
        flex-basis: 100%;
        position: relative;
    }

    .ph-channel-partner-wrapper .ph-edge-grid-content-flex>div:nth-child(2)::before {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        top: -0.75rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: #A9A9A9;
    }

    .ph-channel-partner-wrapper .ph-edge-grid-content-flex .link-font p.edge-heading {
        padding: 1rem 1rem 0 1rem;
        font-family: var(--semibold-font-family);
    }

    .ph-channel-partner-wrapper .parth-edge-swiper.swiper .swiper-wrapper {
        min-height: 320px;
    }

    .ph-channel-partner-wrapper .swiper-pagination.parth-edege-swiper-pagination {
        width: 100%;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .ph-channel-partner-wrapper .swiper-pagination.parth-edege-swiper-pagination .swiper-pagination-bullet {
        background-color: var(--primary-color);
    }

    .ph-channel-partner-wrapper .swiper-pagination.parth-edege-swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: var(--secondary-color);
    }
}

@media only screen and (max-width: 767px) {

    .ph-channel-partner-wrapper .visible-xs {
        display :block !important;
    }
    .ph-channel-partner-wrapper .hidden-xs {
        display :none !important ;
    }

    .ph-channel-partner-wrapper .banner-title h2,
    .ph-channel-partner-wrapper .banner-title h2 span {
        font-size: 3.25rem;
    }

    .ph-channel-partner-wrapper .ph-cp-banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    .ph-channel-partner-wrapper .ph-channel-partner-banner-img,
    .ph-channel-partner-wrapper .ph-channel-partner-banner-img img {
        aspect-ratio: 0.75;
    }

    .ph-channel-partner-wrapper .dealer-form-grid {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "one" " two"
            "three" " four"
            "five" " six"
            "seven" " eight"
            "nine" " ten"
            "eleven" " twelve"
            "thirteen";
        gap: 1.75rem;
    }

    .ph-channel-partner-wrapper .dealer-form-wrapper.inner-flex {
        gap: 1.5rem;
        padding: 1rem;
    }

    .ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input input {
        padding: 1.5rem;

    }

    .ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input button p,
    .ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input input,
    .ph-channel-partner-wrapper .dealer-form-grid .dealer-form-input input::placeholder {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 375px) {}