<!-- Merging code  -->

<!-- Specification Wrapper Start -->
<div id="ph-specification-wrapper" class="relative">
  <section id="ph-specification-section-1" class="ph-section">
    <div class="main-container-fluid">
      <div class="specification-banner-flex">
        <div class="specification-gallery-card">
          <swiper class="swiper mainProductGalleryThumbs" #mainSwiper [config]="mainImageSwiper"
            (indexChange)="jumpThumb($event)">
            <div class="swiper-slide" *ngFor="let item of collectionObj.images; let i = index">
              <!-- &w=675&h=385 -->
              <a data-fancybox="item-fancy" href="{{ item.image }}&w=675&h=385" target="_self">
                <img src="{{ item.image }}&w=675&h=385" />
              </a>
            </div>
          </swiper>
          <swiper class="swiper mainProductGallery" #secondarySwiper [config]="productImageSwiper">
            <div class="swiper-slide" *ngFor="let item of collectionDetail.images; let i = index" (click)="jumpBig(i)">
              <!-- &w=213.66&h=122.06 -->
              <img src="{{ item.image_full }}" style="height: 150px; object-fit: contain;" />
            </div>
          </swiper>
        </div>
        <div class="specification-banner-specification">
          <div class="inner-flex inner-flex-medium">
            <div class="inner-flex">
              <div class="specification-font-size">
                <h1 class="text-uppercase bold-fonts">
                  {{ collectionDetail.collection }}
                </h1>
              </div>
              <div style="display: flex; gap: 1.5rem" *ngIf="collectionDetail.sale_price">
                <div class="section-subtitle">
                  <h3 class="regular-fonts">
                    ${{ collectionDetail.sale_price }}
                  </h3>
                </div>
                <div class="section-subtitle" *ngIf="collectionDetail.sale_price">
                  <h3 class="regular-fonts" style="text-decoration: line-through">
                    ${{ collectionDetail.price }}
                  </h3>
                </div>
              </div>
              <div class="section-subtitle" *ngIf="!collectionDetail.sale_price">
                <h3 class="regular-fonts">${{ collectionDetail.price }}</h3>
              </div>
            </div>
            <div class="section-content">
              <p class="light-fonts" innerHTML="{{ collectionDetail.short_description }}">
                <!-- All pricing for India. Lead time 90 Days/ Faster. -->
              </p>
            </div>
            <div class="specifcation-banner-accordion specification">
              <!-- Accordion -->
              <!-- <div class="acc-container">
                <div class="acc" *ngFor="let acc of collectionDetail.accordion">
                  <div class="acc-head" (click)="handleAcc(acc.title)" [class.active]="accName == acc.title" >
                    <p>{{acc.title}}</p>
                  </div>
                  <div class="acc-content" [class.active]="accName == acc.title">
                    <p>
                      {{acc.text}}
                    </p>
                  </div>
                </div>
              </div> -->
              <!-- Accordian End -->
              <h3>Specification</h3>
              <p class="light-fonts" innerHTML="{{ collectionDetail.description }}"></p>
            </div>
            <div class="specification-download-btns-flex">
              <button class="ph-button black-border-ph-button" *ngIf="collectionDetail.brochure"
                (click)="handleBrochure()">
                <p class="text-uppercase">Brochure</p>
              </button>
              <button class="ph-button black-border-ph-button">
                <a routerLink="/lead/{{collectionDetail.slug}}">
                  <p class="text-uppercase">Inquiry</p>
                </a>
              </button>
              <!-- <button class="ph-button black-border-ph-button" (click)="handleEnquiry()"
                [class.active]="'popup-overlay-active'" [class.active]="'inquire-popup-wrapper-active'">
                <p class="text-uppercase">Inquiry</p>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Active Tabs Section -->

  <section id="ph-specification-section-2" class="ph-section section-padding">
    <div class="main-container">
      <div class="tab tab-bar-above">
        <button class="tablinks" [class.active]="tab == 'productSpecification'"
          (click)="handleTab('productSpecification')" id="defaultOpen">
          Product Specification
        </button>
        <button class="tablinks" [class.active]="tab == 'products'" (click)="handleTab('products')">
          Products
        </button>
        <button class="tablinks" [class.active]="tab == 'finishes'" (click)="handleTab('finishes')">
          Finishes
        </button>
        <button class="tablinks" [class.active]="tab == 'hardwares'" (click)="handleTab('hardwares')">
          Brands
        </button>
      </div>
      <div id="ProductSpecification" class="tabcontent" *ngIf="tab == 'productSpecification'">
        <div class="product-specification-grid">
          <div class="product-specification-grid-image">
            <!-- &w=636&h=359.88 -->
            <img src="{{ collectionDetail.specification_image }}&w=636&h=359.88" alt="" />
          </div>
          <div class="product-specification-table">
            <table>
              <thead>
                <tr>
                  <th>
                    <p class="bold-fonts text-uppercase text-left">
                      Cash Goods
                    </p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">W</p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">D</p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">H</p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">Price</p>
                  </th>
                </tr>
              </thead>

              <tbody *ngFor="let item of sizeSpecificationItems">
                <tr *ngFor="let size of item.sizes">
                  <td *ngIf="size === item.sizes[0]" [attr.rowspan]="item.sizes.length">
                    <p class="text-left">{{ item.item }}</p>
                  </td>
                  <td>
                    <p class="text-center">{{ size.height }}"</p>
                  </td>
                  <td>
                    <p class="text-center">{{ size.width }}"</p>
                  </td>
                  <td>
                    <p class="text-center">{{ size.dimension }}"</p>
                  </td>
                  <td>
                    <p class="text-center">${{ size.price }}</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="table-note-lable">
              <p>*All other sizes are also available.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="Products" class="tabcontent" *ngIf="tab == 'products'">
        <div class="products-list-grid-wrapper">
          <div class="products-grid-card" *ngFor="let item of collectionDetail.items">
            <div class="inner-flex inner-flex-small">
              <div class="product-list-image">
                <!-- &w=233&h=200 -->
                <a data-fancybox="item-fancy" href="{{ item.banner_image_full }}" target="_self">
                  <img src="{{ item.banner_image_full }}" alt="" style="height: 300px" />
                </a>
              </div>
              <div class="product-name">
                <h2 class="medium-fonts">
                  {{ item.item }}
                </h2>
              </div>
              <div class="product-info">
                <p class="text-uppercase">Size</p>
                <p class="text-uppercase gray-fonts" *ngFor="let item of item.sizes" style="padding: 0.5rem 0">
                  {{ item.width }}" x {{ item.dimension }}" x {{ item.height }}"
                  &nbsp; &nbsp; <span>${{ item.price }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Finishes" class="tabcontent" *ngIf="tab == 'finishes'">
        <div class="finishes-list-grid-wrapper">
          <div class="finishes-grid-card" *ngFor="let laminate of collectionObj.laminates">
            <div class="inner-flex inner-flex-small">
              <div class="finishes-list-image">
                <!-- &w=386.4&h=200 -->
                <a data-fancybox="laminate-fancy" href="{{ laminate.image_full }}" target="_self">
                  <img src="{{ laminate.image_full }}" alt="" style="height: 300px" />
                </a>
              </div>
              <div class="product-name">
                <h2 class="medium-fonts text-uppercase">
                  {{ laminate.laminate }}
                </h2>
              </div>
              <div class="product-name">
                <p class="medium-fonts text-uppercase">
                  {{ laminate.size }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Hardware" class="tabcontent" *ngIf="tab == 'hardwares'">
        <div class="hardware-list-grid-wrapper">
          <div class="hardware-grid-card" *ngFor="let hardware of collectionObj.hardwares">
            <div class="inner-flex inner-flex-small">
              <div class="hardware-list-image">
                <!-- &w=230&h=230 -->
                <a data-fancybox="hardware-fancy" href="{{ hardware.image_full }}" target="_self">
                  <img src="{{ hardware.image_full }} " alt="" />
                </a>
              </div>
              <div class="product-name">
                <h2 class="medium-fonts text-uppercase">
                  {{ hardware.hardware }}
                </h2>
              </div>
              <div class="product-info">
                <p class="text-uppercase"></p>
                <p class="text-uppercase gray-fonts"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div>
  <div class="popup-overlay" [class.popup-overlay-active]="isWizardOpen" (click)="closeWizard()"></div>
  <div class="inquire-popup-wrapper">
    <div *ngIf="isWizardOpen" class="wizard-popup">
      <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
        <ng-wizard-step [title]="'Step 1'" [description]="'Contact Details'">
          <form id="inquiry_form" name="inquiry_form"
            (ngSubmit)="inquiryForm.form.valid && submitContactForm()" #inquiryForm="ngForm"
            style="margin-top: 1rem">
            <div class="form_wrapper">
              <div class="contact_lable" [class.active]="contactObj.name != ''">
                <label class="md-lable" for="name" style="padding: 1rem 0rem">Name <sup>*</sup></label>
                <input id="name" name="name" type="text" class="form-control input-padding" letters-only=""
                  [(ngModel)]="contactObj.name" #name="ngModel" required />
                <div *ngIf="inquiryForm.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Name cannot be empty!</div>
                </div>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable" [class.active]="contactObj.email != ''">
                  <label class="md-lable" for="email_address" style="padding: 1rem 0rem">Email</label>
                  <input id="email_address" name="email" type="email" autocomplete="off"
                    class="form-control input-padding" #email="ngModel" [(ngModel)]="contactObj.email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                  <div *ngIf="inquiryForm.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">
                      Email can not be empty!
                    </div>
                    <div *ngIf="email.invalid && !email.errors.required">
                      Invalid Email address
                    </div>
                  </div>
                </div>
                <div class="contact_lable relative" [class.active]="contactObj.phone != ''">
                  <label class="md-lable contact_code" for="client_contact_no" style="padding: 1rem 0rem">Mobile</label>
                  <input id="client_contact_no" name="phone" type="tel" numbers-only="" minlength="8" maxlength="13"
                    autocomplete="off" class="form-control input-padding" #phone="ngModel"
                    [(ngModel)]="contactObj.phone" (keypress)="_keyPress($event)" required />

                  <div *ngIf="inquiryForm.submitted && phone.invalid" class="invalid-feedback">
                    <div *ngIf="phone.errors.required">
                      phone can not be empty!
                    </div>
                    <div *ngIf="phone.invalid && !phone.errors.required">
                      Invalid Mobile number
                    </div>
                  </div>
                </div>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable" [class.active]="contactObj.company_name != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0rem">Hotel Name</label>

                  <input id="hotel_name" name="company_name" type="text" class="form-control input-padding"
                    #company_name="ngModel" [(ngModel)]="contactObj.company_name" />
                </div>
                <div class="contact_lable" [class.active]="contactObj.property_code != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0rem">Property Code</label>

                  <input id="property_code" name="property_code" type="number" class="form-control input-padding"
                    #property_code="ngModel" [(ngModel)]="contactObj.property_code" />
                </div>
              </div>

              <div class="contact_lable" [class.active]="contactObj.country != ''" style="padding: 1rem 0rem">
                <ng-select class="form-control" name="country" id="country" [(ngModel)]="contactObj.country"
                  #country="ngModel" (change)="loadStates(contactObj.country)">
                  <ng-option value="">-Select Country-</ng-option>
                  <ng-option value="{{ country.id }}" *ngFor="let country of countries">
                    {{ country.name }}
                  </ng-option>
                </ng-select>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable drops" [class.active]="contactObj.state != ''">
                  <ng-select class="form-control" name="state" id="state" [(ngModel)]="contactObj.state"
                    #state="ngModel" (change)="loadCities(contactObj.state)">
                    <ng-option value="">-Select State-</ng-option>
                    <ng-option value="{{ state.id }}" *ngFor="let state of states">
                      {{ state.name }}
                    </ng-option>
                  </ng-select>
                </div>
                <div class="contact_lable" [class.active]="contactObj.city != ''">
                  <ng-select class="form-control" name="city" id="city" [(ngModel)]="contactObj.city" #city="ngModel">
                    <ng-option value="">-Select City-</ng-option>
                    <ng-option value="{{ city.id }}" *ngFor="let city of cities">
                      {{ city.name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable" [class.active]="contactObj.rooms != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0">Rooms</label>

                  <input id="rooms" name="rooms" type="number" class="form-control input-padding" #rooms="ngModel"
                    [(ngModel)]="contactObj.rooms" />
                </div>
                <div class="contact_lable" [class.active]="contactObj.zip_code != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0">Zip Code</label>

                  <input id="zip_code" name="zip_code" type="number" class="form-control input-padding"
                    #zip_code="ngModel" [(ngModel)]="contactObj.zip_code" />
                </div>
              </div>

              <div class="contact_lable" [class.active]="contactObj.message != ''">
                <label class="md-lable" for="remarks" style="padding: 1rem 0">Comments</label>

                <textarea id="remarks" name="message" type="text" aria-invalid="false" autocomplete="off"
                  class="form-control" rows="1" #message="ngModel" rows="5" [(ngModel)]="contactObj.message">
                </textarea>
              </div>
            </div>
          </form>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 2'" [description]="'Select Items'">
          <div class="image-wrapper-details">
            <div class="card" *ngFor="let item of collectionDetail.items">
              <div class="card-body" style="display: grid; place-content: center;">
                <label for="item_{{ item.item_ID }}">
                  <div>
                    <img class="card-img-top" src="{{ item.banner_image_full }}" alt="Card image cap" />
                  </div>

                  <div style="padding-top: 2rem;">
                    <input type="checkbox" name="item_{{ item.item_ID }}" [(checklist)]="contactObj.item_IDs"
                      [checklistValue]="item.item_ID" id="item_{{ item.item_ID }}" class="rounded-checkbox"
                      (change)="exampleCHange()" />

                    <span class="card-text" style="padding-left: 1rem">
                      {{ item.item }}</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 3'" [description]="'Select Laminates'">
          <div class="image-wrapper-details">
            <div class="card" *ngFor="let laminate of collectionObj.laminates">
              <div class="card-body" style="display: grid; place-content: center;">
                <label for="laminate_{{ laminate.laminate_ID }}">
                  <div>
                    <img class="card-img-top" src="{{ laminate.image }}&w=350&h=350" alt="Card image cap" />
                  </div>
                  <div style="padding-top: 2rem;">
                    <input type="checkbox" name="laminate_{{ laminate.laminate_ID }}"
                      [(checklist)]="contactObj.laminate_IDs" [checklistValue]="laminate.laminate_ID"
                      id="laminate_{{ laminate.laminate_ID }}" class="rounded-checkbox" (change)="exampleCHange()" />

                    <span class="card-text" style="padding-left: 1rem">{{ laminate.laminate }}</span>
                  </div>
                </label>
                <p style="padding-left: 2.5rem; padding-top: 0.5rem;">
                  {{ laminate.size }}
                </p>
              </div>
            </div>
          </div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 4'" [description]="'Select Flooring'">

          <div class="image-wrapper-details">
            <div class="card" *ngFor="let flooring of flooringList">
              <div class="card-body" style="display: grid; place-content: center;">
                <label for="flooring_{{ flooring.item_ID }}">
                  <div>
                    <img class="card-img-top" src="{{ flooring.banner_image }}&w=350&h=350" alt="Card image cap" />
                  </div>
                  <div style="padding-top: 2rem;">
                    <input type="checkbox" name="flooring_{{ flooring.item_ID }}"
                      [(checklist)]="contactObj.flooring_IDs" [checklistValue]="flooring.item_ID"
                      id="flooring_{{ flooring.item_ID }}" class="rounded-checkbox" (change)="exampleCHange()" />

                    <span class="card-text" style="padding-left: 1.5rem">
                      {{ flooring.item }}
                    </span>
                  </div>

                </label>
              </div>
            </div>
          </div>

        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 5'" [description]="'Select Add On'">

          <table class="table" style="margin-top: 1rem">
            <tbody>
              <tr *ngFor="let addons of collectionDetail.addons">
                <td>
                  <h3>{{ addons.addon }}</h3>

                  <div class="image-wrapper-details">
                    <div class="card" *ngFor="let addonItem of addons.list">
                      <div class="card-body" style="display: grid; place-content: center;">
                        <label for="addons_{{ addonItem.item_ID }}">
                          <div>
                            <img class="card-img-top" src="{{ addonItem.banner_image }}&w=350&h=350"
                              alt="Card image cap" />
                          </div>
                          <div style="padding-top: 2rem;">
                            <input type="checkbox" name="addonItem_{{ addonItem.item_ID }}"
                              [(checklist)]="contactObj.addons_IDs" [checklistValue]="addonItem.item_ID"
                              id="flooring_{{ addonItem.item_ID }}" class="rounded-checkbox"
                              (change)="exampleCHange()" />

                            <span class="card-text" style="padding-left: 1.5rem">
                              {{ addonItem.item }}
                            </span>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>

                </td>

              </tr>
            </tbody>
          </table>
        </ng-wizard-step>
      </ng-wizard>
    </div>
  </div>
</div> -->

<div>
  <div class="popup-overlay" [class.popup-overlay-active]="enquiry" (click)="closeEnquiry()"></div>
  <div class="inquire-popup-wrapper" [class.inquire-popup-wrapper-active]="enquiry">
    <div class="inquire-popup-inner-flex side_popup_wrapper inner-flex inner-flex-small">
      <div class="inner-flex">
        <div class="close-popup-inquire" (click)="closeEnquiry()" style="cursor: pointer">
          <span class="material-symbols-outlined"> close </span>
        </div>
        <div class="section-subtitle">
          <h3 class="regular-fonts">Enquire Now</h3>
        </div>
      </div>

      <form id="inquiry_form" name="inquiry_form" (ngSubmit)="inquiryForm.form.valid && submitContactForm()"
        #inquiryForm="ngForm">
        <div class="form_wrapper">
          <div class="contact_lable relative" [class.active]="contactObj.name != ''">
            <input id="client_name" name="name" type="text" class="form-control" letters-only=""
              [(ngModel)]="contactObj.name" #name="ngModel" required="" />
            <label class="md-lable" for="client_name">Name <sup>*</sup></label>
            <div *ngIf="inquiryForm.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name cannot be empty!</div>
            </div>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.email != ''">
              <input id="email_address" name="email" type="email" autocomplete="off" class="form-control"
                #email="ngModel" [(ngModel)]="contactObj.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required />
              <label class="md-lable" for="email_address">Email</label>
              <div *ngIf="inquiryForm.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email can not be empty!</div>
                <div *ngIf="email.invalid && !email.errors.required">
                  Invalid Email address
                </div>
              </div>
            </div>
            <div class="contact_lable relative select_country_main_wrapper" [class.active]="contactObj.phone != ''">

              <div class="conatct_number_input">
                <div class="country_code_data" (click)="country_code_click(); ">
                  <div>
                    &nbsp; +{{contactObj.country}}
                  </div>
                  <div>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="country_code_list_data" [class.active]="country_code_clickF">
                <ul>
                  <li *ngFor="let country_list_detail of countries"
                    (click)="country_click_career(country_list_detail.id);">
                    <div (click)="country_code_click_false();">
                      <span class="display_country_code">+{{country_list_detail.id}}</span>
                      {{country_list_detail.name}}
                    </div>
                  </li>
                </ul>
              </div>

              <input id="client_contact_no" name="phone" type="tel" numbers-only="" minlength="8" maxlength="13"
                autocomplete="off" class="form-control" #phone="ngModel" [(ngModel)]="contactObj.phone"
                (keypress)="_keyPress($event)" required />
              <label class="md-lable contact_code" for="client_contact_no">Mobile</label>
              <div *ngIf="inquiryForm.submitted && phone.invalid" class="invalid-feedback">
                <div *ngIf="phone.errors.required">phone can not be empty!</div>
                <div *ngIf="phone.invalid && !phone.errors.required">
                  Invalid Mobile number
                </div>
              </div>
            </div>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.company_name != ''">
              <input id="company_name" name="company_name" type="text" class="form-control" #company_name="ngModel"
                [(ngModel)]="contactObj.company_name" />
              <label class="md-lable" for="company_name">Hotel Name</label>
            </div>
            <div class="contact_lable" [class.active]="contactObj.property_code != ''">
              <input id="property_code" name="property_code" type="number" class="form-control" #property_code="ngModel"
                [(ngModel)]="contactObj.property_code" />
              <label class="md-lable" for="company_name">Property Code</label>
            </div>
          </div>

          <div class="contact_lable" [class.active]="contactObj.country != ''">
            <ng-select class="form-control" name="country" id="country" [(ngModel)]="contactObj.country"
              #country="ngModel" (change)="loadStates(contactObj.country)">
              <ng-option value="">-Select Country-</ng-option>
              <ng-option value="{{ country.id }}" *ngFor="let country of countries">
                {{ country.name }}
              </ng-option>
            </ng-select>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.state != ''">
              <ng-select class="form-control" name="state" id="state" [(ngModel)]="contactObj.state" #state="ngModel"
                (change)="loadCities(contactObj.state)">
                <ng-option value="">-Select State-</ng-option>
                <ng-option value="{{ state.id }}" *ngFor="let state of states">
                  {{ state.name }}
                </ng-option>
              </ng-select>
            </div>
            <div class="contact_lable" [class.active]="contactObj.city != ''">
              <ng-select class="form-control" name="city" id="city" [(ngModel)]="contactObj.city" #city="ngModel">
                <ng-option value="">-Select City-</ng-option>
                <ng-option value="{{ city.id }}" *ngFor="let city of cities">
                  {{ city.name }}
                </ng-option>
              </ng-select>
            </div>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.rooms != ''">
              <input id="rooms" name="rooms" type="number" class="form-control" #rooms="ngModel"
                [(ngModel)]="contactObj.rooms" />
              <label class="md-lable" for="hotel_name">Rooms</label>
            </div>
            <div class="contact_lable" [class.active]="contactObj.zip_code != ''">
              <input id="zip_code" name="zip_code" type="number" class="form-control" #zip_code="ngModel"
                [(ngModel)]="contactObj.zip_code" />
              <label class="md-lable" for="hotel_name">Zip Code</label>
            </div>
          </div>

          <div class="contact_lable" [class.active]="contactObj.message != ''">
            <textarea id="remarks" name="message" type="text" aria-invalid="false" autocomplete="off"
              class="form-control" rows="1" #message="ngModel" rows="5" [(ngModel)]="contactObj.message">
            </textarea>
            <label class="md-lable" for="remarks">Comments</label>
          </div>
          <div class="checkbox-flex">
            <label>
              <input type="checkbox" name="" id="" />
              <p>
                <span> Keep Me Updated. </span>
              </p>
            </label>
          </div>
          <div class="submit-button">
            <button class="ph-button filled-ph-button filled-ph-button-submit" type="submit">
              <p class="">Submit</p>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Specification Wrapper End -->
