<div class="loader" *ngIf="isLoading">
</div>

<div id="ph-specification-wrapper" class="relative" *ngIf="!isLoading">
  <section id="ph-specification-section-1" class="ph-section">
    <div class="main-container-fluid">
      <div class="specification-banner-flex">
        <div class="specification-gallery-card ">
          <div class="relative">
            <swiper class="swiper mainProductGalleryThumbs" #mainSwiper [config]="mainImageSwiper"
              (indexChange)="jumpThumb($event)">
              <div class="swiper-slide main_swiper_width_pd" *ngFor="let item of collectionObj.images; let i = index">
                <a data-fancybox="item-fancy" href="{{ item.image }}&w=675&h=385" target="_self" *ngIf="item.image">
                  <img src="{{ item.image }}&w=675&h=385" />
                </a>
              </div>
            </swiper>
            <div class="coolection_dummy_section">
              <img src="assets/images/dummy-placeholder.png" *ngIf="collectionObj.images == ''">
            </div>

            <div class="swiper-button-next swiper-button-next-collection">
              <span class="material-symbols-outlined"> arrow_forward </span>
            </div>
            <div class="swiper-button-prev swiper-button-prev-collection">
              <span class="material-symbols-outlined"> arrow_back </span>
            </div>
          </div>

          <swiper class="swiper mainProductGallery" id="secondarySwiper" #secondarySwiper [config]="productImageSwiper">
            <div class="swiper-slide main_short_image" *ngFor="let item of collectionDetail.images; let i = index"
              (click)="jumpBig(i)">
              <img src="{{ item.image_full }}" style=" object-fit: contain;" />
            </div>
          </swiper>
        </div>
        <div class="specification-banner-specification">
          <div class="inner-flex inner-flex-medium">
            <div class="inner-flex">
              <div class="specification-font-size">
                <h1 class="text-uppercase bold-fonts">
                  {{ collectionDetail.collection }}
                </h1>
              </div>
              <div style="display: flex; gap: 1.5rem" *ngIf="collectionDetail.sale_price">
                <div class="section-subtitle">
                  <h3 class="regular-fonts">
                    ${{ collectionDetail.sale_price }}
                  </h3>
                </div>
                <div class="section-subtitle"
                  *ngIf="convertToNumber(collectionDetail.price) > convertToNumber(collectionDetail.sale_price)">
                  <h3 class="regular-fonts" style="text-decoration: line-through; color: #808080;">
                    ${{ collectionDetail.price }}
                  </h3>
                </div>
              </div>
              <div class="section-subtitle" *ngIf="!collectionDetail.sale_price">
                <h3 class="regular-fonts">${{ collectionDetail.price }}</h3>
              </div>
            </div>
            <div class="section-content-details">
              <p class="" innerHTML="{{ collectionDetail.short_description }}">
              </p>
            </div>
            <div class="specifcation-banner-accordion specification section-content-details">
              <h3>Specification</h3>
              <p class="" innerHTML="{{ collectionDetail.description }}"></p>
            </div>
            <div class="specification-download-btns-flex fill-btton">
              <button class="ph-button black-border-ph-button yelloow" *ngIf="collectionDetail.brochure"
                (click)="handleBrochure()">
                <p class="text-uppercase">Brochure</p>
              </button>
              <div>
                <a routerLink="/lead/{{collectionDetail.slug}}">
                  <button class="ph-button black-border-ph-button  ">
                    <p class="text-uppercase">Inquiry</p>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Active Tabs Section -->

  <section id="ph-specification-section-2" class="ph-section section-padding">
    <div class="main-container">
      <div class="tab tab-bar-above">
        <button class="tablinks" [class.active]="tab == 'productSpecification'"
          (click)="handleTab('productSpecification')" id="defaultOpen">
          Product Specification
        </button>
        <button class="tablinks" [class.active]="tab == 'products'" (click)="handleTab('products')">
          Products
        </button>
        <button class="tablinks" [class.active]="tab == 'finishes'" (click)="handleTab('finishes')">
          Finishes
        </button>
        <button class="tablinks" [class.active]="tab == 'hardwares'" (click)="handleTab('hardwares')">
          Brands
        </button>
      </div>
      <div id="ProductSpecification" class="tabcontent" *ngIf="tab == 'productSpecification'">
        <div class="product-specification-grid">
          <div class="product-specification-grid-image">
            <!-- &w=636&h=359.88 -->
            <img src="{{ collectionDetail.specification_image_full }}" alt="" />
          </div>
          <div class="product-specification-table">
            <table>
              <thead>
                <tr>
                  <th>
                    <p class="bold-fonts text-uppercase text-left">
                      Cash Goods
                    </p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">W</p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">D</p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">H</p>
                  </th>
                  <th>
                    <p class="bold-fonts text-uppercase text-center">Price</p>
                  </th>
                </tr>
              </thead>

              <tbody>
                <ng-container *ngFor="let item of sizeSpecificationItems">
                  <tr *ngFor="let size of item.sizes">
                    <td *ngIf="size === item.sizes[0]" [attr.rowspan]="item.sizes.length">
                      <p class="text-left">{{ item.item }}</p>
                    </td>
                    <td>
                      <p class="text-center">{{ size.height }}"</p>
                    </td>
                    <td>
                      <p class="text-center">{{ size.width }}"</p>
                    </td>
                    <td>
                      <p class="text-center">{{ size.dimension }}"</p>
                    </td>
                    <td>
                      <p class="text-center">${{ size.price }}</p>
                    </td>
                  </tr>
                </ng-container>
                <tr>
                  <td>
                    <p class="total_item_bold">Total</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-center">
                    <p class="total_item_bold">${{collectionObj.item_total}}</p>
                  </td>
                </tr>

              </tbody>
            </table>

            <div class="table-note-lable">
              <p>*All other sizes are also available.</p>
            </div>
          </div>
        </div>
      </div>

      <div id="Products" class="tabcontent" *ngIf="tab == 'products'">
        <div class="products-list-grid-wrapper">
          <div class="products-grid-card" *ngFor="let item of collectionDetail.items">
            <div class="inner-flex inner-flex-small">
              <div class="product-list-image">
                <!-- &w=233&h=200 -->
                <a data-fancybox="item-fancy" href="{{ item.banner_image_full }}" target="_self">
                  <img src="{{ item.banner_image_full }}" alt="" />
                </a>
              </div>
              <div class="product-name">
                <h2 class="medium-fonts">
                  {{ item.item }}
                </h2>
              </div>
              <div class="product-info">
                <p class="text-uppercase">Size</p>
                <p class="text-uppercase gray-fonts" *ngFor="let item of item.sizes" style="padding: 0.5rem 0">
                  {{ item.width }}" x {{ item.dimension }}" x {{ item.height }}"
                  &nbsp; &nbsp; <span>${{ item.price }}</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Finishes" class="tabcontent" *ngIf="tab == 'finishes'">
        <div class="finishes-list-grid-wrapper">
          <div class="finishes-grid-card" *ngFor="let laminate of collectionObj.laminates">
            <div class="inner-flex inner-flex-small">
              <div class="finishes-list-image">
                <a data-fancybox="laminate-fancy" href="{{ laminate.image }}&w=900&h=500" target="_self">
                  <img src="{{ laminate.image_full }}" alt="" />
                </a>
              </div>
              <div class="product-name">
                <h2 class="medium-fonts text-uppercase">
                  {{ laminate.laminate }}
                </h2>
              </div>
              <div class="product-name">
                <p class="medium-fonts text-uppercase">
                  {{ laminate.size }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="Hardware" class="tabcontent" *ngIf="tab == 'hardwares'">
        <div class="hardware-list-grid-wrapper">
          <div class="hardware-grid-card" *ngFor="let hardware of collectionObj.hardwares">
            <div class="inner-flex inner-flex-small">
              <div class="hardware-list-image">
                <a data-fancybox="hardware-fancy" href="{{ hardware.image_full }}" target="_self">
                  <img src="{{ hardware.image_full }} " alt="" />
                </a>
              </div>
              <div class="product-name">
                <h2 class="medium-fonts text-uppercase">
                  {{ hardware.hardware }}
                </h2>
              </div>
              <div class="product-info">
                <p class="text-uppercase"></p>
                <p class="text-uppercase gray-fonts"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<div>
  <div class="popup-overlay" [class.popup-overlay-active]="enquiry" (click)="closeEnquiry()"></div>
  <div class="inquire-popup-wrapper" [class.inquire-popup-wrapper-active]="enquiry">
    <div class="popup-overlay-country" [class.popup-overlay-country-active]="country_code_clickF"
      (click)="closeCountry()"></div>

    <div class="inquire-popup-inner-flex side_popup_wrapper inner-flex inner-flex-small">
      <div class="inner-flex">
        <div class="close-popup-inquire" (click)="closeEnquiry()" style="cursor: pointer">
          <span class="material-symbols-outlined"> close </span>
        </div>
        <div class="section-subtitle">
          <h3 class="regular-fonts">Enquire Now</h3>
        </div>
      </div>

      <form id="inquiry_form" name="inquiry_form" (ngSubmit)="inquiryForm.form.valid && submitContactForm()"
        #inquiryForm="ngForm">
        <div class="form_wrapper">
          <div class="contact_lable relative" [class.active]="contactObj.name != ''">
            <input id="client_name" name="name" type="text" class="form-control" letters-only=""
              [(ngModel)]="contactObj.name" #name="ngModel" required="" />
            <label class="md-lable" for="client_name">Name*</label>
            <div *ngIf="inquiryForm.submitted && name.invalid" class="invalid-feedback">
              <div *ngIf="name.errors.required">Name cannot be empty!</div>
            </div>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.email != ''">
              <input id="email_address" name="email" type="email" autocomplete="off" class="form-control"
                #email="ngModel" [(ngModel)]="contactObj.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required />
              <label class="md-lable" for="email_address">Email*</label>
              <div *ngIf="inquiryForm.submitted && email.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email can not be empty!</div>
                <div *ngIf="email.invalid && !email.errors.required">
                  Invalid Email address
                </div>
              </div>
            </div>
            <div class="contact_lable relative select_country_main_wrapper" [class.active]="contactObj.phone != ''">

              <div class="conatct_number_input">
                <div class="country_code_data" (click)="country_code_click(); ">
                  <div>
                    &nbsp; +{{contactObj.country}}
                  </div>
                  <div class="down-country-angle">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              <div class="country_code_list_data" [class.active]="country_code_clickF">
                <ul>
                  <li *ngFor="let country_list_detail of countries"
                    (click)="country_click_career(country_list_detail.phonecode);">
                    <div (click)="country_code_click_false();">
                      <span class="display_country_code">+{{country_list_detail.phonecode}}</span>
                      {{country_list_detail.name}}
                    </div>
                  </li>
                </ul>
              </div>

              <input id="client_contact_no" name="phone" type="text" numbers-only="" minlength="8" maxlength="13"
                autocomplete="off" class="form-control" #phone="ngModel" [(ngModel)]="contactObj.phone"
                (keypress)="_keyPress($event)" required />
              <label class="md-lable contact_code" for="client_contact_no">Mobile*</label>
              <div *ngIf="inquiryForm.submitted && phone.invalid" class="invalid-feedback">
                <div *ngIf="phone.errors.required">phone can not be empty!</div>
                <div *ngIf="phone.invalid && !phone.errors.required">
                  Invalid Mobile number
                </div>
              </div>
            </div>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.company_name != ''">
              <input id="company_name" name="company_name" type="text" class="form-control" #company_name="ngModel"
                [(ngModel)]="contactObj.company_name" />
              <label class="md-lable" for="company_name">Hotel Name</label>
            </div>
            <div class="contact_lable" [class.active]="contactObj.property_code != ''">
              <input id="property_code" name="property_code" (keypress)=_keyPress($event) type="text"
                class="form-control" #property_code="ngModel" [(ngModel)]="contactObj.property_code" />
              <label class="md-lable" for="company_name">Property Code</label>
            </div>
          </div>

          <div class="contact_lable" [class.active]="contactObj.country != ''">
            <ng-select class="form-control" name="country" id="country" [(ngModel)]="contactObj.country"
              #country="ngModel" (change)="loadStates(contactObj.country)">
              <ng-option value="">-Select Country-</ng-option>
              <ng-option value="{{ country.phonecode }}" *ngFor="let country of countries">
                {{ country.name }}
              </ng-option>
            </ng-select>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.state != ''">
              <ng-select class="form-control" name="state" id="state" [(ngModel)]="contactObj.state" #state="ngModel"
                (change)="loadCities(contactObj.state)">
                <ng-option value="">-Select State-</ng-option>
                <ng-option value="{{ state.id }}" *ngFor="let state of states">
                  {{ state.name }}
                </ng-option>
              </ng-select>
            </div>
            <div class="contact_lable" [class.active]="contactObj.city != ''">
              <ng-select class="form-control" name="city" id="city" [(ngModel)]="contactObj.city" #city="ngModel">
                <ng-option value="">-Select City-</ng-option>
                <ng-option value="{{ city.id }}" *ngFor="let city of cities">
                  {{ city.name }}
                </ng-option>
              </ng-select>
            </div>
          </div>

          <div class="relative two-grid-form">
            <div class="contact_lable" [class.active]="contactObj.rooms != ''">
              <input id="rooms" name="rooms" type="text" class="form-control" #rooms="ngModel"
                (keypress)=_keyPress($event) [(ngModel)]="contactObj.rooms" />
              <label class="md-lable" for="hotel_name">Rooms</label>
            </div>

            <div class="contact_lable" [class.active]="contactObj.zip_code != ''">
              <input id="zip_code" name="zip_code" type="text" (keypress)=_keyPress($event) class="form-control"
                #zip_code="ngModel" [(ngModel)]="contactObj.zip_code" />
              <label class="md-lable" for="hotel_name">Zip Code</label>
            </div>
          </div>

          <div class="contact_lable" [class.active]="contactObj.message != ''">
            <textarea id="remarks" name="message" type="text" aria-invalid="false" autocomplete="off"
              class="form-control" rows="1" #message="ngModel" rows="5" [(ngModel)]="contactObj.message" required>
            </textarea>
            <div *ngIf="inquiryForm.submitted && message.invalid" class="invalid-feedback">
              <div *ngIf="message.errors.required">Message can not be empty!</div>
            </div>
            <label class="md-lable" for="remarks">Comments*</label>
          </div>
          <div class="checkbox-flex">
            <label>
              <input type="checkbox" name="" id="" />
              <p>
                <span> Keep Me Updated. </span>
              </p>
            </label>
          </div>
          <div class="submit-button">
            <button class="ph-button filled-ph-button filled-ph-button-submit" type="submit">
              <p class="">Submit</p>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
