.accordian_faq_question .plus_div h3:before,
.accordian_faq_question .plus_div h3:after {
    content: "";
    position: absolute;
    top: 40%;
    right: 0;
    margin: 0 0 -8px;
    background: #000000;
    border-radius: 2px;
}

.accordian_faq_question .plus_div h3:before {
    right: 8px;
    width: 2px;
    height: 15px;
    transition: all 300ms;
    margin-top: -7.5px;
    background: #000000;
}

.accordian_faq_question .plus_div h3:after {
    right: 1px;
    width: 16px;
    height: 3px;
    margin-top: -1.5px;
    background: #000000;
}

.accordian_faq_question .plus_div h3.expanded:before {
    height: 0;
    margin-top: 0;
}

.accordian_faq_question .plus_div {
    position: relative;
    width: 100%;
}


:root {
    /* colors */
    --primary-color: #000000;
    --secondary-color: #F7AC29;
    --highlight-color: #E0E0E0;
    --placeholder-color: #F3F3F3;
    --white-color: #FFFFFF;

    /* font-sizes */
    --banner-font-size: 5rem;
    --section-title-font-size: 6rem;
    --title-font-size: 3.5rem;
    --specification-font-size: 2.5rem;
    --subtitle-font-size: 2rem;
    --content-font-size: 1.5rem;
    --link-font-size: 1rem;
    --smallcontent-font-size: 1.25rem;

    /* font-families */
    --light-font-family: 'Poppins-Light';
    --regular-font-family: 'Poppins-Regular';
    --semibold-font-family: 'Poppins-SemiBold';
    --bold-font-family: 'Poppins-Bold';
    --medium-font-family: 'Poppins-Medium';

    /* other variables */
    --common-transition: all 0.6s ease;
    --web-border-radius: 0.625rem;
    --mobile-border-radius: 0.6rem;
    --common-gap-size: 1rem;
    --small-gap-size: 1.5rem;
    --medium-gap-size: 3rem;
    --big-gap-size: 6rem;
}

/*about css start*/

.lion_img {
    width: 50%;
    margin-left: 0;
}

.t_center p {
    text-align: center;
}

.inner-flex.inner-flex-gap3 {
    gap: 3rem;
}


.ph_wrapper_about .main-container-about {
    width: 70%;
    margin: 0 auto;
}

.ph_wrapper_about .ph-cp-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.ph_wrapper_about .banner-title h2,
.ph_wrapper_about .banner-title h2 span {
    font-size: var(--common-banner-font-size);
    font-family: var(--bold-font-family);
}

.ph_wrapper_about .inner-flex.inner-flex-common {
    gap: var(--common-gap-size);
}

.about_pd_main {
    padding: 8rem 0;
}

.about_pd_btm_main {
    padding-bottom: 8rem;
}

.about_section {
    height: 100%;
}

.accordian_faq_answer {
    display: none;
}

.accordian_faq_answer.active {
    display: block;
}


.accordian_sub_faq {
    padding: 3rem;
    border: 1px solid var(--primary-color) !important;
    border-radius: 12px;
}

.faq_padding {
    padding: 8rem 0;
}

.accordian_faq_question {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*about css end*/

@media only screen and (max-width: 767px) {

    .t_center p {
        text-align: left;
    }

    .plus_div h3{
        width: 90%;
    }

    .ph-channel-partner-banner-img,
    .ph-channel-partner-banner-img img {
        aspect-ratio: 0.75;
    }

    .ph_wrapper_about .banner-title h2,
    .ph_wrapper_about .banner-title h2 span {
        font-size: 3.25rem;
        font-family: var(--bold-font-family);
    }

    .ph_wrapper_about .ph-cp-banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    .section-content p,
    .section-content a {
        font-size: 1.8rem;
    }

    .ph_wrapper_about .inner-flex.inner-flex-medium {
        gap: var(--samll-gap-size);
    }

    .ph-cp-banner-text {
        width: 90%;
    }

    .ph-channel-partner-banner-img,
    .ph-channel-partner-banner-img img {
        aspect-ratio: 0.75;
    }

    .banner-title h2,
    .banner-title h2 span {
        font-size: 3.25rem;
    }

    .ph_wrapper_about .main-container-about {
        width: 92%;
        margin: 0 auto;
    }

}




/**/