/*about css start*/

.inner-flex.inner-flex-gap3 {
    gap: 3rem;
}

.ph_wrapper_faqs .section-subtitle p {
    font-size: var(--floating-font-size);
    font-family: var(--regular-font-family);
    width: 45%;
    margin: 0 auto !important;
}

.ph_wrapper_faqs.ph-cp-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.ph_wrapper_faqs .banner-title h2,
.ph_wrapper_faqs .banner-title h2 span {
    font-size: var(--common-banner-font-size);
    font-family: var(--bold-font-family);
}

.ph_wrapper_faqs.inner-flex.inner-flex-common {
    gap: var(--common-gap-size);
}

.faq_padding {
    padding: 10rem 0;
}

.main-container-faqs {
    width: 90%;
    margin: 0 auto;
}

.accordian_faq_answer {
    display: none;

}

.accordian_faq_answer.active {
    display: block;
    padding-top: 2rem;
}

.accordian_faq_answer.section-content p {
    font-size: var(--smallcontent-font-size);
    font-family: var(--regular-font-family);
}


.accordian_sub_faq {
    border-top: 1px solid var(--primary-color);
    padding: 2.8rem 0;
}

.accordian_sub_faq:last-child {
    border-bottom: 1px solid var(--primary-color);
}

.accordian_sub_faq .section-subtitle h3 {
    font-size: var(--floating-font-size);
    font-family: var(--semibold-font-family);

}

.accordian_faq_question {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.accordian_faq_question .plus_div h3:before,
.accordian_faq_question .plus_div h3:after {
    content: "";
    position: absolute;
    top: 40%;
    right: 0;
    margin: 0 0 -8px;
    background: #000000;
    border-radius: 2px;
}

.accordian_faq_question .plus_div h3:before {
    right: 8px;
    width: 2px;
    height: 15px;
    transition: all 300ms;
    margin-top: -7.5px;
    background: #000000;
}

.accordian_faq_question .plus_div h3:after {
    right: 1px;
    width: 16px;
    height: 3px;
    margin-top: -1.5px;
    background: #000000;
}

.accordian_faq_question .plus_div h3.expanded:before {
    height: 0;
    margin-top: 0;
}

.accordian_faq_question .plus_div {
    position: relative;
    width: 100%;
}

@media only screen and (max-width: 1152px) {
    .ph_wrapper_faqs .section-subtitle p {
        width: 70%;
    }

    .faq_padding {
        padding: 6rem 0;
    }
}

@media only screen and (max-width: 991px) {
    .main-container-faqs {
        width: 96%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {

    .ph-faqs-banner-img,
    .ph-faqs-banner-img img {
        aspect-ratio: 1;
    }

    .ph_wrapper_faqs.ph-cp-banner-text {
        width: 90%;
    }

    .ph_wrapper_faqs.inner-flex.inner-flex-medium {
        gap: var(--samll-gap-size);
    }
}