<div id="ph-about-wrapper" class="main_banner_section_pd ">
  <section class="ph-faqs-banner-section  relative" id="ph-faqs-banner-section">
    <div class="ph-faqs-banner-img relative">
      <img src="assets/images/faqs/faq_banner.png" alt="" />
      <div class="black_overlay"></div>
    </div>
    <div class="ph-cp-banner-text inner-flex inner-flex-common ph_wrapper_faqs  text-center">
      <div class="banner-title">
        <h2 class="text-uppercase white-color">FAQs</h2>
      </div>
      <div class="section-subtitle">
        <p class="text-uppercase white-color">Here are some of the most frequently
          asked questions
        </p>
      </div>
    </div>
  </section>

  <section id="ph-about-section-2" class="faq_padding">
    <div class="main-container-faqs">
      <div class="accordian_faq_main">

        <div class="accordian_sub_faq inner-flex" (click)="faqstab(1)">
          <div class="accordian_faq_question section-subtitle">
            <div class="plus_div">
              <h3 class="" [class.expanded]="faqs_tab_f == 1">Lorem ipsum dolor sit amet consectetur?</h3>
            </div>
          </div>
          <div class="accordian_faq_answer section-content" [class.active]="faqs_tab_f == 1">
            <p class="">Lorem ipsum dolor sit amet consectetur. Id pellentesque nec tortor nulla elit nisi tincidunt
              ut turpis. Scelerisque morbi tempus gravida tellus non lacus orci
              molestie. Sagittis et magna turpis purus lectus libero viverra massa. Imperdiet id pulvinar mattis
              augue.
            </p>
          </div>
        </div>

        <div class="accordian_sub_faq inner-flex" (click)="faqstab(2)">
          <div class="accordian_faq_question section-subtitle" >
            <div class="plus_div">
              <h3 class="" [class.expanded]="faqs_tab_f == 2">Lorem ipsum dolor sit amet consectetur?</h3>
            </div>
          </div>
          <div class="accordian_faq_answer section-content" [class.active]="faqs_tab_f == 2">
            <p class="">Lorem ipsum dolor sit amet consectetur. Id pellentesque nec tortor nulla elit nisi tincidunt
              ut turpis. Scelerisque morbi tempus gravida tellus non lacus orci
              molestie. Sagittis et magna turpis purus lectus libero viverra massa. Imperdiet id pulvinar mattis
              augue.
            </p>
          </div>
        </div>

        <div class="accordian_sub_faq inner-flex" (click)="faqstab(3)">
          <div class="accordian_faq_question section-subtitle" >
            <div class="plus_div">
              <h3 class="" [class.expanded]="faqs_tab_f == 3">Lorem ipsum dolor sit amet consectetur?</h3>
            </div>
          </div>
          <div class="accordian_faq_answer section-content" [class.active]="faqs_tab_f == 3">
            <p class="">Lorem ipsum dolor sit amet consectetur. Id pellentesque nec tortor nulla elit nisi tincidunt
              ut turpis. Scelerisque morbi tempus gravida tellus non lacus orci
              molestie. Sagittis et magna turpis purus lectus libero viverra massa. Imperdiet id pulvinar mattis
              augue.
            </p>
          </div>
        </div>

        <div class="accordian_sub_faq inner-flex" (click)="faqstab(4)">
          <div class="accordian_faq_question section-subtitle" >
            <div class="plus_div">
              <h3 class="" [class.expanded]="faqs_tab_f == 4">Lorem ipsum dolor sit amet consectetur?</h3>
            </div>
          </div>
          <div class="accordian_faq_answer section-content" [class.active]="faqs_tab_f == 4">
            <p class="">Lorem ipsum dolor sit amet consectetur. Id pellentesque nec tortor nulla elit nisi tincidunt
              ut turpis. Scelerisque morbi tempus gravida tellus non lacus orci
              molestie. Sagittis et magna turpis purus lectus libero viverra massa. Imperdiet id pulvinar mattis
              augue.
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>
