

<div id="ph-about-wrapper" class="relative ph_wrapper_about">
  <section
    class="ph-channel-partner-banner-section relative"
    id="ph-channel-partner-banner-section"
  >
    <div class="ph-channel-partner-banner-img">
      <img src="assets/images/about/about_banner.jpg" alt="" />
      <div class="black_overlay"></div>
    </div>
    <div
      class="ph-cp-banner-text inner-flex inner-flex-common ph_wrapper_about"
    >
      <!-- <div class="section-subtitle">
          <h3 class="text-uppercase white-color"> About us</h3>
        </div> -->
      <div class="banner-title">
        <h2 class="text-uppercase text-center white-color">FAQs</h2>
      </div>
    </div>
  </section>

  <section id="ph-about-section-2" class="ph-section faq_padding" >
    <div class="main-container-about">
      <div class="accordian_faq_main inner-flex inner-flex-gap3">
        <div class="accordian_sub_faq inner-flex">
          <div class="accordian_faq_question section-subtitle " (click)="faqstab(1)">
            <div class="plus_div">
                <h3 class=""  [class.expanded]="faqs_tab_f == 1">WE ARE THE LEADING CASE GOODS MANUFACTURER.</h3>
            </div>
            <!-- <div>
                <p class="">+</p>
            </div> -->
          </div>
          <div class="accordian_faq_answer section-content" [class.active]="faqs_tab_f == 1">
            <div class="inner-flex">
            <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque voluptatum ratione, deserunt quas at unde quis distinctio! Dicta iusto molestiae totam quod dolorum, quasi reprehenderit modi corrupti, repudiandae ducimus eveniet!</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium, ea possimus quae, molestiae similique suscipit praesentium inventore, a beatae officia minima expedita? Sequi impedit eligendi, perferendis aut asperiores beatae.
            </p>

            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium, ea possimus quae, molestiae similique suscipit praesentium inventore, a beatae officia minima expedita? Sequi impedit eligendi, perferendis aut asperiores beatae.
            </p>

            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium, ea possimus quae, molestiae similique suscipit praesentium inventore, a beatae officia minima expedita? Sequi impedit eligendi, perferendis aut asperiores beatae.
            </p>
        </div>

          </div>
        </div>
        <div class="accordian_sub_faq inner-flex">
          <div class="accordian_faq_question section-subtitle" (click)="faqstab(2)">
            <div class="plus_div" >
                <h3 class=""  [class.expanded]="faqs_tab_f == 2">WE ARE THE LEADING CASE GOODS MANUFACTURER.</h3>
            </div>
            <!-- <div>
                <p class="">+</p>
            </div> -->
          </div>
          <div class="accordian_faq_answer section-content" [class.active]="faqs_tab_f == 2">
            <div class="inner-flex">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam neque consequuntur corporis temporibus, saepe nulla pariatur distinctio voluptate dicta, ullam quos minus totam nemo illo quis vero necessitatibus facere aliquid!</p>
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium, ea possimus quae, molestiae similique suscipit praesentium inventore, a beatae officia minima expedita? Sequi impedit eligendi, perferendis aut asperiores beatae.
            </p>
            </div>

          </div>
        </div>
        <div class="accordian_sub_faq inner-flex">
          <div class="accordian_faq_question section-subtitle" (click)="faqstab(3)">
            <div class="plus_div">
                <h3 class=" "  [class.expanded]="faqs_tab_f == 3">WE ARE THE LEADING CASE GOODS MANUFACTURER.</h3>
            </div>
            <!-- <div>
                <p class="">+</p>
            </div> -->
          </div>
          <div class="accordian_faq_answer section-content" [class.active]="faqs_tab_f == 3">
            <div class="inner-flex">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium, ea possimus quae, molestiae similique suscipit praesentium inventore, a beatae officia minima expedita? Sequi impedit eligendi, perferendis aut asperiores beatae.
            </p>

            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium, ea possimus quae, molestiae similique suscipit praesentium inventore, a beatae officia minima expedita? Sequi impedit eligendi, perferendis aut asperiores beatae.
            </p>

            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos laudantium, ea possimus quae, molestiae similique suscipit praesentium inventore, a beatae officia minima expedita? Sequi impedit eligendi, perferendis aut asperiores beatae.
            </p>
            </div>



          </div>
        </div>

      </div>
    </div>
  </section>
</div>
