<div>
  <h1 class="heading">Inquiry</h1>
  <div class="lead-inquire-popup-wrapper">
    <div class="lead-wizard-popup">
      <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
        <ng-wizard-step [title]="'Step 1'" [description]="'Contact Details'">
          <form id="inquiry_form" name="inquiry_form" (ngSubmit)="inquiryForm.form.valid && submitContactForm()"
            #inquiryForm="ngForm" style="margin-top: 1rem">
            <div class="form_wrapper">
              <div class="contact_lable" [class.active]="contactObj.name != ''">
                <label class="md-lable" for="name" style="padding: 1rem 0rem">Name <sup>*</sup></label>
                <input id="name" name="name" type="text" class="form-control input-padding" letters-only=""
                  [(ngModel)]="contactObj.name" #name="ngModel" required />
                <div *ngIf="inquiryForm.submitted && name.invalid" class="invalid-feedback">
                  <div *ngIf="name.errors.required">Name cannot be empty!</div>
                </div>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable" [class.active]="contactObj.email != ''">
                  <label class="md-lable" for="email_address" style="padding: 1rem 0rem">Email</label>
                  <input id="email_address" name="email" type="email" autocomplete="off"
                    class="form-control input-padding" #email="ngModel" [(ngModel)]="contactObj.email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                  <div *ngIf="inquiryForm.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">
                      Email can not be empty!
                    </div>
                    <div *ngIf="email.invalid && !email.errors.required">
                      Invalid Email address
                    </div>
                  </div>
                </div>
                <div class="contact_lable relative select_country_main_wrapper" [class.active]="contactObj.phone != ''">

                  <div class="conatct_number_input">
                    <div class="country_code_data" (click)="country_code_click(); ">
                      <div>
                        &nbsp; +{{contactObj.country}}
                      </div>
                      <div>
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                  <div class="country_code_list_data" [class.active]="country_code_clickF">
                    <ul>
                      <li *ngFor="let country_list_detail of countries"
                        (click)="country_click_career(country_list_detail.id);">
                        <div (click)="country_code_click_false();">
                          <span class="display_country_code">+{{country_list_detail.id}}</span>
                          {{country_list_detail.name}}
                        </div>
                      </li>
                    </ul>
                  </div>



                  <label class="md-lable contact_code" for="client_contact_no" style="padding: 1rem 0rem">Mobile</label>
                  <input id="client_contact_no" name="phone" type="tel" numbers-only="" minlength="8" maxlength="13"
                    autocomplete="off" class="form-control input-padding" #phone="ngModel"
                    [(ngModel)]="contactObj.phone" (keypress)="_keyPress($event)" required />

                  <div *ngIf="inquiryForm.submitted && phone.invalid" class="invalid-feedback">
                    <div *ngIf="phone.errors.required">
                      phone can not be empty!
                    </div>
                    <div *ngIf="phone.invalid && !phone.errors.required">
                      Invalid Mobile number
                    </div>
                  </div>
                </div>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable" [class.active]="contactObj.company_name != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0rem">Hotel Name</label>

                  <input id="hotel_name" name="company_name" type="text" class="form-control input-padding"
                    #company_name="ngModel" [(ngModel)]="contactObj.company_name" />
                </div>
                <div class="contact_lable" [class.active]="contactObj.property_code != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0rem">Property Code</label>

                  <input id="property_code" name="property_code" type="number" class="form-control input-padding"
                    #property_code="ngModel" [(ngModel)]="contactObj.property_code" />
                </div>
              </div>

              <div class="contact_lable" [class.active]="contactObj.country != ''" style="padding: 1rem 0rem">
                <ng-select class="form-control" name="country" id="country" [(ngModel)]="contactObj.country"
                  #country="ngModel" (change)="loadStates(contactObj.country)">
                  <ng-option value="">-Select Country-</ng-option>
                  <ng-option value="{{ country.id }}" *ngFor="let country of countries">
                    {{ country.name }}
                  </ng-option>
                </ng-select>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable drops" [class.active]="contactObj.state != ''">
                  <ng-select class="form-control" name="state" id="state" [(ngModel)]="contactObj.state"
                    #state="ngModel" (change)="loadCities(contactObj.state)">
                    <ng-option value="">-Select State-</ng-option>
                    <ng-option value="{{ state.id }}" *ngFor="let state of states">
                      {{ state.name }}
                    </ng-option>
                  </ng-select>
                </div>
                <div class="contact_lable" [class.active]="contactObj.city != ''">
                  <ng-select class="form-control" name="city" id="city" [(ngModel)]="contactObj.city" #city="ngModel">
                    <ng-option value="">-Select City-</ng-option>
                    <ng-option value="{{ city.id }}" *ngFor="let city of cities">
                      {{ city.name }}
                    </ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="relative two-grid-form">
                <div class="contact_lable" [class.active]="contactObj.rooms != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0">Rooms</label>

                  <input id="rooms" name="rooms" type="number" class="form-control input-padding" #rooms="ngModel"
                    [(ngModel)]="contactObj.rooms" />
                </div>
                <div class="contact_lable" [class.active]="contactObj.zip_code != ''">
                  <label class="md-lable" for="hotel_name" style="padding: 1rem 0">Zip Code</label>

                  <input id="zip_code" name="zip_code" type="number" class="form-control input-padding"
                    #zip_code="ngModel" [(ngModel)]="contactObj.zip_code" />
                </div>
              </div>

              <div class="contact_lable" [class.active]="contactObj.message != ''">
                <label class="md-lable" for="remarks" style="padding: 1rem 0">Comments</label>

                <textarea id="remarks" name="message" type="text" aria-invalid="false" autocomplete="off"
                  class="form-control" rows="1" #message="ngModel" rows="5" [(ngModel)]="contactObj.message">
                  </textarea>
              </div>
            </div>
          </form>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 2'" [description]="'Select Items'">
          <div class="image-wrapper-details">
            <div class="card" *ngFor="let item of collectionDetail.items">
              <div class="card-body" style="display: grid; place-content: center;">
                <label for="item_{{ item.item_ID }}">
                  <div>
                    <img class="card-img-top" src="{{ item.banner_image_full }}" alt="Card image cap"
                      style="height: 300px;" />
                  </div>

                  <div style="padding-top: 2rem;">
                    <input type="checkbox" name="item_{{ item.item_ID }}" [(checklist)]="contactObj.item_IDs"
                      [checklistValue]="item.item_ID" id="item_{{ item.item_ID }}" class="rounded-checkbox"
                      (change)="exampleCHange()" />

                    <span class="card-text" style="padding-left: 1rem">
                      {{ item.item }}</span>
                  </div>
                </label>
              </div>
            </div>
          </div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 3'" [description]="'Select Laminates'">
          <div class="image-wrapper-details">
            <div class="card" *ngFor="let laminate of collectionObj.laminates">
              <div class="card-body" style="display: grid; place-content: center;">
                <label for="laminate_{{ laminate.laminate_ID }}">
                  <div>
                    <img class="card-img-top" src="{{ laminate.image }}&w=350&h=350" alt="Card image cap" />
                  </div>
                  <div style="padding-top: 2rem;">
                    <input type="checkbox" name="laminate_{{ laminate.laminate_ID }}"
                      [(checklist)]="contactObj.laminate_IDs" [checklistValue]="laminate.laminate_ID"
                      id="laminate_{{ laminate.laminate_ID }}" class="rounded-checkbox" (change)="exampleCHange()" />

                    <span class="card-text" style="padding-left: 1rem">{{ laminate.laminate }}</span>
                  </div>
                </label>
                <p style="padding-left: 2.5rem; padding-top: 0.5rem;">
                  {{ laminate.size }}
                </p>
              </div>
            </div>
          </div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 4'" [description]="'Select Flooring'">

          <div class="image-wrapper-details">
            <div class="card" *ngFor="let flooring of flooringList">
              <div class="card-body" style="display: grid; place-content: center;">
                <label for="flooring_{{ flooring.item_ID }}">
                  <div>
                    <img class="card-img-top" src="{{ flooring.banner_image }}&w=350&h=350" alt="Card image cap" />
                  </div>
                  <div style="padding-top: 2rem;">
                    <input type="checkbox" name="flooring_{{ flooring.item_ID }}"
                      [(checklist)]="contactObj.flooring_IDs" [checklistValue]="flooring.item_ID"
                      id="flooring_{{ flooring.item_ID }}" class="rounded-checkbox" (change)="exampleCHange()" />

                    <span class="card-text" style="padding-left: 1.5rem">
                      {{ flooring.item }}
                    </span>
                  </div>

                </label>
              </div>
            </div>
          </div>
        </ng-wizard-step>

        <ng-wizard-step [title]="'Step 5'" [description]="'Select Add On'">
          <div *ngFor="let addons of collectionDetail.addons" style="margin-top: 1rem">
            <h3>{{ addons.addon }}</h3>
            <div class="image-wrapper-details">
              <div class="card" *ngFor="let addonItem of addons.list">
                <div class="card-body" style="display: grid; place-content: center;">
                  <label for="addonItem_{{ addonItem.item_ID }}">
                    <div>
                      <img class="card-img-top" src="{{ addonItem.banner_image }}&w=350&h=350" alt="Card image cap" />
                    </div>
                    <div style="padding-top: 2rem;">
                      <input type="checkbox" name="addonItem_{{ addonItem.item_ID }}"
                        [(checklist)]="contactObj.addons_IDs" [checklistValue]="addonItem.item_ID"
                        id="addonItem_{{ addonItem.item_ID }}" class="rounded-checkbox" (change)="exampleCHange()" />

                      <span class="card-text" style="padding-left: 1.5rem">
                        {{ addonItem.item }}
                      </span>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-wizard-step>
      </ng-wizard>
    </div>
  </div>
</div>
