.lead-inquire-popup-wrapper {
  padding-top: 2rem;
  width: 80%;
  margin: 0 auto;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.table tr {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.drops.form-control {
  padding: 0rem !important;
}

.input-padding {
  padding: 1rem 1rem;
}

.image-wrapper-details {
  display: grid;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.image-wrapper-details>div {
  width: 100%;
  aspect-ratio: 1;
}

.card-img-top {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.swiper-slide {
  width: 100%;
}



.country_code_data>div {
  font-size: 1em;
}








.country_code_list_data ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.country_code_list_data ul li {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: all ease 0.2s;
}

.country_code_list_data ul li:hover {
  background-color: #dddddd;
}

.country_code_list_data li>div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.country_code_list_data {
  position: absolute;
  top: 100%;
  left: 0;
  height: 40vh;
  overflow-y: scroll;
  width: 300px;
  z-index: 99999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
  border: 1px solid #999999;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.country_code_list_data {
  display: none;
}

.country_code_list_data.active {
  display: block;
}

.country_code_data {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 5px;
}

.conatct_number_input {
  position: absolute;
  left: 0;
  top: 72%;
  transform: translateY(-50%);
  padding: 0.5rem;
  z-index: 99;
}

.select_country_main_wrapper.active .input-padding {
  padding: 1rem 1rem 1rem 4.5rem;
}

.rounded-checkbox {
  width: 21px;
  height: 21px;
}

@media only screen and (max-width: 991px) {
  .image-wrapper-details {
    grid-template-columns: repeat(2, 1fr);
  }

  .rounded-checkbox {
    width: 13px;
    height: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .image-wrapper-details {
    grid-template-columns: repeat(1, 1fr);
  }

  .rounded-checkbox {
    width: 13px;
    height: 13px;
  }
}