<!--
<div class="container mt-4" style=" margin-top: 6rem;">
  <h1 class="heading">Laminates</h1>
  <div class="flex align-center card-wrap">
    <div class="card" *ngFor="let item of laminate_list">
      <div class="" style="cursor: pointer;">
        <a routerLink="/collections/{{item.slug}}">
        &w=240&h=216

        <a data-fancybox="item-fancy" href="{{ item.image }}&w=240&h=216" target="_self">
          <img src="{{ item.image }}&w=500&h=500" alt="" style="height: 216px" />
        </a>
        </a>
        <div class="content">
          <h5 class="" style="text-align: center;">{{ item.laminate }}</h5>
          <div class="btn">
            <a routerLink="/collections/{{item.slug}}" class="">View More...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div id="ph-laminate-wrapper" class="relative ph-laminate-wrapper">
  <section id="ph-laminate-section-1" class="ph-section relative ">
      <div class="relative">
          <div class="banner_img">
              <img src="assets/images/laminates/laminate-banner.jpg" alt="">
          </div>
          <div class="black_overlay"></div>
          <div class="page-title banner-title-sec">
              <h2 class="white-text">
                  LAMINATES
              </h2>
          </div>
      </div>
  </section>

  <section id="ph-laminate-section-2" class="ph-section relative section-padding">
      <div class="main-container">
          <div class="relative">

              <div class="laminate-flex-sec">
                  <div class="laminate-sec inner-flex inner-flex-common" *ngFor="let item of laminate_list">
                      <div class="laminate-img-sec">
                          <a data-fancybox="item-fancy" href="{{ item.image }}&w=290&h=139" target="_self">
                            <img src="{{ item.image }}&w=290&h=139" alt="" />
                          </a>
                      </div>
                      <div class="section-content">
                          <p class="">{{item.laminate}}</p>
                      </div>
                  </div>

              </div>

          </div>
      </div>
  </section>

</div>
