<div id="ph-laminate-wrapper" class="relative ph-laminate-wrapper main_banner_section_pd">
  <section id="ph-laminate-section-1" class="ph-section relative ">
    <div class="relative">
      <div class="banner_img">
        <img src="assets/images/laminates/laminate-banner.jpg" alt="">
      </div>
      <div class="black_overlay"></div>
      <div class="page-title banner-title-sec">
        <h2 class="white-text">
          LAMINATES
        </h2>
      </div>
    </div>
  </section>

  <div class="loader" *ngIf="isLoading">
  </div>

  <section id="ph-laminate-section-2" class="ph-section relative section-padding" *ngIf="!isLoading">
    <div class="main-container">
      <div class="relative">
        <div class="laminate-flex-sec">
          <div class="laminate-sec inner-flex inner-flex-common" *ngFor="let item of laminate_list">
            <div class="laminate-img-sec">
              <a data-fancybox="item-fancy" href="{{ item.image_full }}" target="_self">
                <img src="{{ item.image_full }}" alt="" />
              </a>
            </div>
            <div class="section-content">
              <p class="">{{item.laminate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<ng-container *ngIf="laminate_list && laminate_list.length > 0">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(1,1)">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(pager.currentPage - 1,1)">Previous</a>
    </li>
    <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a class="page-link" (click)="setPage(page,1)">{{page}}</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a class="page-link" (click)="setPage(pager.currentPage + 1,1)">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a class="page-link" (click)="setPage(pager.totalPages,1)">Last</a>
    </li>
  </ul>
</ng-container>