<div class="container mt-4">
  <h1 class="text-center mb-4">Laminates</h1>
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let item of laminate_list">
      <div class="card">
        <img
          class="card-img-top"
          src="{{ item.image }}"
          alt="Card image cap"
          style="height: 18rem; object-fit: cover;"
        />
        <div class="card-body">
          <h5 class="card-title">{{ item.laminate }}</h5>
          <a href="#" class="btn btn-secondary">View More...</a>
        </div>
      </div>
    </div>
  </div>
</div>

