.loader {
	display: flex;
	align-items: center;
	border: 12px solid #f7eede;
	border-top: 12px solid #F7AC29;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	margin: 0 auto;
	margin-top: 10rem;
	margin-bottom: 10rem;
}

.ph-laminate-wrapper .laminate-flex-sec {
	display: flex;
	align-items: center;
	gap: 2.5rem;
	flex-flow: row wrap;
}

.ph-laminate-wrapper .laminate-sec {
	flex-basis: calc(33.33% - 1.7rem);
}


.laminate-img-sec img {
	height: 25vh;
	border-radius: 10px;
	object-fit: cover;
}

.banner-title-sec {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}


@media only screen and (max-width:1024px) {
	.page-title h2 {
		font-size: 4rem;
	}
}


@media only screen and (max-width:991px) {
	.ph-laminate-wrapper .laminate-sec {
		flex-basis: calc(50% - 1.3rem);
	}
}

@media only screen and (max-width:767px) {
	.ph-laminate-wrapper .laminate-sec {
		flex-basis: 100%;
	}

	.ph-laminate-wrapper .laminate-flex-sec {
		row-gap: 3rem;
	}

	.banner_img {
		height: 100%;
	}

	.banner_img img {
		height: 60vh;
		object-fit: cover;
	}
}