.section-padding-contact {
    padding: 4rem 0;
}

.ph-contact-wrapper .ph-contact-section-one {
    background-image: url("../../assets/images/contact/contact-banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

.ph-contact-wrapper .section-title h2 {
    font-size: 2.5rem;
}

.ph-contact-wrapper .ph-contact-wrapper-main-grid {
    border-radius: 1.75rem;
    background-color: #f8ab18f5;
}

.ph-contact-wrapper .ph-contact-flex {
    align-items: start;
    width: 100%;
    padding: 2rem;
    gap: var(--medium-gap-size);
    padding: 6rem 3rem 3rem 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.ph-contact-wrapper .ph-contact-form-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    padding: 0rem 0 0 2rem;
    position: relative;

}

.ph-contact-wrapper .ph-contact-form-grid::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.5rem;
    height: 100%;
    width: 1px;
    background-color: var(--primary-color);
    opacity: 30%;
}

.ph-contact-wrapper .ph-contact-form-input input:focus,
.ph-contact-wrapper .ph-contact-form-input input:focus-visible,
.ph-contact-wrapper .ph-contact-form-input textarea:focus {
    border: 2px solid var(--primary-color);
}

.ph-contact-wrapper .ph-contact-form-input input,
.ph-contact-wrapper .ph-contact-form-input textarea {
    padding: 1.25rem;
    width: 100%;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: transparent;
    font-family: var(--semibold-font-family);
    font-size: var(--link-font-size);
    color: var(--primary-color);
    resize: none;
}

.ph-contact-wrapper .ph-contact-form-input input::placeholder,
.ph-contact-wrapper .ph-contact-form-input textarea::placeholder {
    font-family: var(--regular-font-family);
    font-size: var(--link-font-size);
    text-transform: uppercase;
    color: #000000;
}

.ph-contact-wrapper .ph-contact-form-input button.ph-contact-form-input-button {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
    padding: 1.25rem;
    outline: none
}


.country_code_list_data ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.country_code_list_data ul li {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all ease 0.2s;
}

.country_code_list_data ul li:hover {
    background-color: #dddddd;
}

.country_code_list_data li>div {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.countrymanage>p:first-child{
  width: 40px;
}

.countrymanage img{
  width: 30px;
}

.country_code_list_data {
    position: absolute;
    top: 100%;
    left: 0;
    height: 40vh;
    overflow-y: scroll;
    width: 300px;
    z-index: 99999;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #ffffff;
    border: 1px solid #999999;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.country_code_list_data {
    display: none;
}

.country_code_list_data.active {
    display: block;
}

.country_code_data {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.conatct_number_input {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem;
    z-index: 999;
}

.input_contact_main_details {
    padding-left: 5.5rem !important;
}

.inner_contact_flex_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    height: 100%;
    padding-right: 1rem;
}

.contact_address_contact_flex {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
}

.address-content_flex_inner {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

#phone{
  padding-left: 9rem !important;
}

@media screen and (max-width : 1450px) {

    .ph-contact-wrapper .link-font p {
        font-size: 1.25rem;
        font-family: var(--light-font-family);
    }

    .ph-contact-wrapper .ph-contact-form-input input,
    .ph-contact-wrapper .ph-contact-form-input input::placeholder,
    .ph-contact-wrapper .ph-contact-form-input textarea,
    .ph-contact-wrapper .ph-contact-form-input textarea::placeholder {
        font-size: 1.25rem;
    }
}

@media screen and (max-width : 991px) {

    .ph-contact-wrapper .ph-contact-flex {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 1.5rem 3rem 1.5rem;
    }


    .ph-contact-wrapper .ph-contact-form-grid {
        width: 100%;
        padding: 3rem 0 0 0;
    }

    .ph-contact-wrapper .ph-contact-form-grid::before {
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
    }

    .contact_address_contact_flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }

    .address-content_flex_inner p ,.mail_phone_flex_contact p{
        font-size: 13px;
    }
}

