<div id="ph-about-wrapper" class="relative ph_wrapper_about">

  <section class="ph-channel-partner-banner-section relative" id="ph-channel-partner-banner-section">
    <div class="ph-channel-partner-banner-img">
      <img src="assets/images/about/about_banner.jpg" alt="">
      <div class="black_overlay"></div>
    </div>
    <div class="ph-cp-banner-text inner-flex inner-flex-common ph_wrapper_about">
      <div class="section-subtitle">
        <h3 class="text-uppercase white-color"> About us</h3>
      </div>
      <div class="banner-title">
        <h2 class="text-uppercase text-center white-color"> hospilality <br class="hide-tab-mobile"> isn't just what we
          do. <br class="hide-tab-mobile">
          it's <span> who we are </span>
        </h2>
      </div>
      <div class="link-">

      </div>
    </div>
  </section>

  <section id="ph-about-section-2" class="ph-section section-padding8">
    <div class="main-container">
      <div class="about_para_container">
        <div class="section-content t_center about_pd_main">
          <p style="text-transform: capitalize;">
            WE STAND ON THE PILLARS OF GREAT SERVICES, QUALITY, PRICE. WE BELIEVE IN PROVIDING HIGH QUALITY PRODUCT AT COST EFFECTIVE RATE.
          </p>
        </div>
      </div>
    </div>

  </section>

  <section id="ph-about-section-3" class="ph-section ">
    <div class="main-container-about about_pd_btm_main">
      <div class="about_flex_wrapepr">
        <div class="about_flex">
          <div class="about_img">
            <img src="assets/images/about/about_img.jpg" alt="">
          </div>
        </div>
        <div class="section-content ">
          <div class="inner-flex inner-flex-gap3">

            <div class="section-subtitle">
              <h3 class="bold-fonts" style="text-transform: capitalize;">  WE ARE THE LEADING CASE GOODS MANUFACTURER. </h3>
            </div>

            <div>
              <p class="regular-fonts">

                Our years long experience in hospitality and hotel renovation enables us to produce the most durable, suitable, elegant and functional case goods that can enlighten the ambiance of any room instantly.

              </p>

              <p class="regular-fonts"  style="padding-top: 1rem;">
                We are the hands behind their smartly renovated hotel rooms.
              </p>

            </div>


            <!-- <div class="section-subtitle">
              <h3 class="bold-fonts" style="text-transform: capitalize;"> APPROVED VENDOR OF CHOICE HOTELS IN THE USA. </h3>
            </div> -->

            <div class="lion_img">
              <img src="assets/images/about/about1.jpg" alt="About section image" srcset="">

            </div>
            <div class="lion_flex">

              <div class="child1">
                <img src="assets/images/about/about3.jpg" alt="About section image" srcset="">
              </div>
              <div class="child2">
               <img src="assets/images/about/about2.jpg" alt="About section image" srcset="">
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="ph-about-section-4" class="ph-section section-padding8">
    <div class="main-container-about about_pd_btm_main">
      <div class="overview-card-flex-center">
        <div class="inner-flex-gap3">
          <div class="overview-text-card inner-flex inner-flex-small">
            <div class="section-title">
              <h2 class="text-center">
                State of The <span>Art Machines
                </span>
              </h2>
            </div>
            <div class="section-content t_center">
              <p>
                Smart and Technically advanced machines for <br class=" hide-tab-mobile "> Ramping up
                Production
              </p>
            </div>

          </div>
        </div>

      </div>
      <div class="section-padding-small">
        <div class="about-highlights-grid">

          <div class="highlight-card">
            <div class="page-title">
              <h2 class="yellow-text">
                45+
              </h2>
            </div>
            <div class="section-content">
              <p>
                Years of Expertise
              </p>
            </div>
          </div>
          <div class="highlight-card">
            <div class="page-title">
              <h2 class="yellow-text">
                70,000
              </h2>
            </div>
            <div class="section-content">
              <p>
                SQ. FT. Workshop
              </p>
            </div>
          </div>
          <div class="highlight-card">
            <div class="page-title">
              <h2 class="yellow-text">
                2000+
              </h2>
            </div>
            <div class="section-content">
              <p>
                Room Capacity/Month
              </p>
            </div>
          </div>
          <div class="highlight-card">
            <div class="page-title">
              <h2 class="yellow-text">
                8000+
              </h2>
            </div>
            <div class="section-content">
              <p>
                Rooms Delivered
              </p>
            </div>
          </div>
          <div class="highlight-card">
            <div class="page-title">
              <h2 class="yellow-text">
                30+
              </h2>
            </div>
            <div class="section-content">
              <p>
                Furniture Products
              </p>
            </div>
          </div>
          <div class="highlight-card">
            <div class="page-title">
              <h2 class="yellow-text">
                4
              </h2>
            </div>
            <div class="section-content">
              <p>
                Hotel Owned
              </p>
            </div>
          </div>

        </div>
      </div>
      <div class="border"></div>

    </div>
  </section>



  <section id="ph-about-section-2" class="ph-section pdt0">
    <div class="main-container-about">

      <div class="inner-flex-gap3">
        <div class="overview-text-card inner-flex inner-flex-small">
          <div class="section-title">
            <h2 class="text-center">
              Our Creative <span> Directors
              </span>
            </h2>
          </div>
          <div class="section-content t_center">
            <div class="about_para_container">
              <p>

              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="about_section_team_flex section-padding8 pdb0">
        <div class="about_section">
          <div class="inner-flex inner-flex-medium">
            <div class="section-subtitle">
              <h3 class="bold-fonts bold_color_dark"> Parth Thakkar</h3>
            </div>
            <div class="section-content">
              <p class="regular-fonts bold_color_light"> The man behind the most successfully cracked deals, he
                knows the art of selling and is the heart of this business. Having 5 year of
                experience in selling hospitality cae goods, he understand the
                needs of the client, he is the brains of the brand guiding the productivity,
                style, and elegance of the product. </p>

            </div>
          </div>
        </div>
        <div class="about_section">
          <div class="inner-flex inner-flex-medium">
            <div class="section-subtitle">
              <h3 class="bold-fonts bold_color_dark"> Aaruti Thakkar </h3>
            </div>
            <div class="section-content">
              <p class="regular-fonts bold_color_light">
                Aakruti is a graduate in hospitality from Glenn Management
                University and has polished her managerial skills for 9 years at
                Mariott and Hyatt Regency, making her efficient and effective at
                her job.
              </p>

            </div>
          </div>
        </div>
        <div class="about_section">
          <div class="inner-flex inner-flex-medium">
            <div class="section-subtitle">
              <h3 class="bold-fonts bold_color_dark"> Gita Thakkar </h3>
            </div>
            <div class="section-content">
              <p class="regular-fonts bold_color_light"> Bringing the expertise of numbers, Geeta is the accounting
                head
                of the company. Her maturity of thoughts and ingenuity of
                actions keep the whole team glued to perfection. </p>

            </div>
          </div>
        </div>
        <div class="about_section">
          <div class="inner-flex inner-flex-medium">
            <div class="section-subtitle">
              <h3 class="bold-fonts bold_color_dark"> Mukesh Thakkar </h3>
            </div>
            <div class="section-content">
              <p class="regular-fonts bold_color_light">Hailing expertise from 40+ years of experience in hotel
                construction, renovation & redevelopment. Now their own hotel
                furniture manufacturing in India. </p>

            </div>
          </div>
        </div>
      </div>
    </div>

  </section>



</div>
