<div class="container mt-4" style=" margin-top: 6rem;">
  <h1 class="heading">Collections</h1>
  <div class="flex align-center card-wrap">
    <div class="card" *ngFor="let item of collection_list">
      <div class="" style="cursor: pointer;">
        <img
          class=""
          src="{{ item.banner_image }}"
          alt="Card image cap"
          style="height: 18rem;width: 30rem; object-fit: cover;"
        />
        <div class="content">
          <h5 class="">{{ item.collection }}</h5>
          <div class="btn">
            <a routerLink="/collections/{{item.slug}}" class="">View More...</a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
