.flex {
  /* display: flex;
  flex-wrap: wrap;

  gap: 2rem; */
  display: grid;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.banner-title-sec {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.collection-container {
  width: 80%;
  margin: 0 auto;
}

.wrap {
  flex-wrap: wrap;
}

.heading {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.content {
  padding: 1rem 0.5rem;
}

.content h5 {
  font-size: 1.5rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.content .btn {
  width: 40%;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.content .btn:hover {
  background-color: var(--secondary-color);
}

.content .btn a:hover {
  color: #fff;
}

@media only screen and (max-width:1152px) {

  .collection-container {
    width: 90%;
    margin: 0 auto;
  }

  .flex {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media only screen and (max-width:991px) {

  .banner_img img {
    height: 60vh;
    object-fit: cover;
  }

  .collection-container {
    width: 95%;
    margin: 0 auto;
  }

  .flex {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:767px) {

  .flex {
    grid-template-columns: repeat(1, 1fr);
  }
}


.loader {
  display: flex;
  align-items: center;
  border: 12px solid #f7eede;
  border-top: 12px solid #F7AC29;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}