.collection_main_grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.banner-title-sec {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.collection_image {
  background-color: #EBEBEB;
  display: grid;
  place-content: center;
  height: 40vh;
  padding: 2rem;
}

.collection_image img {
  height: 30vh;
  object-fit: contain;
}

.collection_padding {
  padding: 10rem 0;
}

.collection_bd_style {
  border: 1px solid #EBEBEB;
  cursor: pointer;
}

.collection_content_title h5 {
  font-size: var(--smallcontent-font-size);
  font-family: var(--medium-font-family-p);
}

.collection_content_description p {
  font-size: var(--content-font-size);
  font-family: var(--light-font-family);
  padding-top: 1rem;
}

.collection_content_padding {
  padding: 2rem;
}

.collection_view_moreflex {
  display: flex;
  gap: 1rem;
  padding-top: 4rem;
}

.view_more_content p {
  font-size: var(--smallcontent-font-size);
  font-family: var(--medium-font-family-p);
  color: #515151;

}

@media only screen and (max-width:1280px) {
  .collection_main_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .view_more_imgt img{
    width: 1.8rem;
  }
}

@media only screen and (max-width:1152px) {
  .collection_padding {
    padding: 6rem 0;
  }
}

@media only screen and (max-width:991px) {

  .banner_img img {
    height: 60vh;
    object-fit: cover;
  }

  .collection_main_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:767px) {

  .collection_main_grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.loader {
  display: flex;
  align-items: center;
  border: 12px solid #f7eede;
  border-top: 12px solid #F7AC29;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}