<div id="ph-collection-wrapper" class="relative ph-collection-wrapper">
  <section id="ph-collection-section-1" class="ph-section">
    <div class="about-banner-swiper-outer relative">
      <div class="banner_img relative">
        <img src="assets/images/blog/Blog.png" alt="">
        <div class="black_overlay"></div>

        <div class="page-title banner-title-sec">
          <h2 class="white-color text-uppercase">
            Collections
          </h2>
        </div>
      </div>
    </div>
  </section>
  <div class="collection-container" style=" margin-top: 4rem;">
    <div class="flex">
      <div class="card" *ngFor="let item of collection_list">
        <div class="" style="cursor: pointer;">
          <!-- &w=360&h=216 -->
          <a routerLink="/collections/{{item.slug}}">
            <img class="" src="{{ item.banner_image }}&w=500&h=500" alt="Card image cap" />
            <!-- style="height: 18rem;width: 30rem; object-fit: contain;"  -->
          </a>
          <div class="content">
            <h5 class="" style="text-align: center;">{{ item.collection }}</h5>
            <div class=" btn" style="width: 100%;">
              <a routerLink="/collections/{{item.slug}}" class="">View collection</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
