<!-- Header Wrapper Start -->
<div class="ph-header-wrapper">
  <div class="header-flex">
    <div class="header-logo">
      <a routerLink="/">
        <img src="assets/images/logo/logo.svg" alt="">
      </a>
    </div>
    <div class="header-links hide-tab-mobile">
      <ul>
        <li>
          <a routerLink="/">
            <p>Home</p>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <p>About</p>
          </a>
        </li>
        <li class="megamenu-level-head">
          <a routerLink="/collections">
            <p>Collections</p>
            <span class="material-symbols-outlined">
              expand_more
            </span>
          </a>
          <div class="megamenu-level-1" *ngIf="menuList">
            <ul class="megamenu-level-1-sub">
              <li class="megamenu-last-level-head" *ngFor="let item of menuList">
                <a href="javascript:void(0)" *ngIf="item.children.length > 0">
                  <p>{{item.category}}</p>
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </a>
                <a routerLink="/collections"  *ngIf="item.children.length <= 0">
                  <p>{{item.category}}</p>
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </a>
                <div class="right-hover-megamenu" *ngIf="item.children.length > 0">
                  <ul class="right-menu-ul-li">
                    <li *ngFor="let submenu of item.children">
                      <p *ngIf="submenu.collections.length > 0">
                        <a routerLink="/collections/{{submenu.collections[0].slug}}">
                          <p>{{submenu.category}}</p>
                        </a>
                      </p>
                      <p *ngIf="submenu.collections.length == 0">
                        <a href="javascript:void(0)">
                          <p>{{submenu.category}}</p>
                        </a>
                      </p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a routerLink="/laminates">
            <p>Laminates</p>

          </a>
        </li>
        <li>
          <a routerLink="/items">
            <p>Items</p>

          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <p>Blog</p>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <p>Contact</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="header-icons-flex">
      <div class="search-btn-header">
        <span class="material-symbols-outlined">
          search
        </span>
      </div>
      <div class="visible-tab-mobile">
        <div class="nav-toggle">
          <div class="bar top"></div>
          <div class="bar bottom"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header Wrapper End -->


<router-outlet></router-outlet>

<!-- Footer Wrapper Start -->
<div class="ph-footer-wrapper">
  <div class="inner-flex inner-flex-big">

    <div class="main-container-fluid">
      <div class="footer-grid-card">
        <div class="footer-card-1">
          <div class="inner-flex inner-flex-center inner-flex-small">
            <a href="javascript:void(0);">
              <div class="footer-logo">
                <img src="assets/images/logo/footer-logo.svg" alt="">
              </div>
            </a>
            <div class="hide-tab-mobile">
              <div class="social-media-footer-ul">
                <ul>
                  <li class="fontawesome">
                    <a href="https://web.facebook.com/parthhospitalityfurniture" target="_blank">
                      <i class="fa-brands fa-square-facebook"></i>
                    </a>
                  </li>
                  <li class="fontawesome">
                    <a href="https://www.instagram.com/parth_hospitality/" target="_blank">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                  </li>
                  <li class="fontawesome">
                    <a href="https://twitter.com/parthhosp" target="_blank">
                      <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li class="fontawesome">
                    <a href="javascript:void(0);">
                      <i class="fa-brands fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-card-2">
          <div class="footer-card-links-grid-wrapper">
            <div class="footer-card-address-wrapper">
              <div class="inner-flex inner-flex-medium">
                <div class="inner-flex inner-flex-small">
                  <div class="section-subtitle hide-tab-mobile">
                    <h3>
                      Parth Hospitality
                    </h3>
                  </div>
                  <div class="address-content relative">
                    <div class="location-icon-address">
                      <span class="material-symbols-outlined">
                        location_on
                      </span>
                    </div>
                    <p class="regular-fonts">
                      7903 Ocean Highway <br>Pawleys Island, SC 29585
                    </p>
                  </div>
                </div>

                <div class="inner-flex">
                  <a href="tel:+1 803 319 7356">
                    <p>
                      +1 803 319 7356
                    </p>
                  </a>
                  <a href="mailto:contact@parthhospitality.com">
                    <p>
                      contact@parthhospitality.com
                    </p>
                  </a>
                </div>

                <div class="visible-tab-mobile">
                  <div class="social-media-footer-ul">
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <img src="assets/images/social/fb.svg" alt="" class="hide-tab-mobile">
                          <img src="assets/images/social/fab.svg" alt="" class="visible-tab-mobile">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <img src="assets/images/social/insta.svg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <img src="assets/images/social/twitter.svg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <img src="assets/images/social/youtube.svg" alt="">
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-link-flex">
              <div class="section-subtitle visible-tab-mobile">
                <h3>
                  Parth Hospitality
                </h3>
                <br>
                <br>
                <br>
              </div>
              <ul class="inner-flex">
                <li>
                  <a href="javascript:void(0);">
                    <p class="regular-fonts">Home</p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <p class="regular-fonts">About</p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <p class="regular-fonts">Product Collections</p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);">
                    <p class="regular-fonts">Blog</p>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0);" >
                    <p class="regular-fonts">Contact</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-credential-div">
      <p>
        &copy; Parth Hospitality 2023 | All Rights Reserved.
      </p>
      <div class="powered-by">
        <p>
          Powered by : <a href="https://www.saltpixels.in/" target="_blank" class="text-uppercase">saltpixels</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer Wrapper End -->
