.ph-blog-wrapper .about-subtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.ph-blog-wrapper .about-container {
  width: 85%;
  margin: 0 auto;
}

.ph-blog-wrapper .product-about-card-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8rem;
  border: 1px solid #e0e0e07d;
  border-radius: 15px;
  padding: 2%;
  box-shadow: 4px 5px 5px var(--highlight-color);
}

.ph-blog-wrapper .product-about-50 {
  flex-basis: 50%;
  width: 50%;
}

.ph-blog-wrapper .section-content a {
  font-size: var(--content-font-size);
  font-family: var(--light-font-family);
  line-height: normal;
}

.ph-blog-wrapper .sec2_padding {
  padding: 8% 0 5% 0;
}

.ph-blog-wrapper .regular-fonts {
  font-family: var(--regular-font-family) !important;
}

.ph-blog-wrapper .section-bottom-border {
  border-bottom: 1px solid #00000030;
}

.ph-blog-wrapper .project-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--small-gap-size);
  padding-top: 5%;
  padding-bottom: 5%;
}

.ph-blog-wrapper .project-list-grid.project-list-grid-2-column {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
}

.ph-blog-wrapper .sec2_subtext_width {
  width: 72%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap-size);
}

.ph-blog-wrapper .about_sec2_img_short img {
  border-radius: 10px;
  height: 330px;
  width: 100%;
  object-fit: cover;
}

.ph-blog-wrapper .about_sec2_img img {
  border-radius: 10px;
}

.ph-blog-wrapper .sec3_subtext_width {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap-size);
}

.ph-blog-wrapper .section-content-about p {
  font-size: 1.2rem;
  line-height: normal;
}

#ph-blog-section-3 .about_sec2_img {
  padding-bottom: 2rem;
}

.ph-blog-wrapper .right-blog-aerrow {
  width: 10%;
}

.ph-blog-wrapper .read_flex {
  display: flex;
  /* align-items: center; */
}

#ph-blog-section-3 .read_flex .section-content-about p {
  color: grey;
}


#ph-detail-blog-section-3 {
  padding-bottom: 5%;
}


.white-text {
  color: var(--white-color);
}

.banner-title-sec {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.blog-title-main-font h3{
  font-size: var(--content-font-size);
  line-height: 1.5;
}

@media only screen and (max-width: 991px) {

  .ph-blog-wrapper .project-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media only screen and (max-width: 767px) {

  .ph-blog-wrapper .product-about-card-flex {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 3%;
  }

  .ph-blog-wrapper .sec2_subtext_width {
    width: 100%
  }

  .ph-blog-wrapper .product-about-50 {
    flex-basis: 100%;
    width: 100%;
  }

  .about-container {
    width: 92%;
  }

  .ph-blog-wrapper .project-list-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: var(--medium-gap-size);
  }

  .ph-blog-wrapper .sec3_subtext_width {
    width: 100%;
  }
}

.blog-title p {
	font-size: var(--content-font-size);
	font-family: var(--regular-font-family);
  font-weight: 600;
}

.loader{
  display: flex;
  align-items: center;
  border: 12px solid #f7eede;
  border-top: 12px solid #F7AC29;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}
